// ----- FOOTER - DESKTOP ----- 

footer{
	clear:both;

	strong{
		font-weight: bold;
		padding-bottom:5px;
	}

	.form-container{
		margin:0px;
		padding:5px 0px;
	}

	.border-container{
		margin:15px auto;
		width:98%;
		padding:30px 0px;
		line-height:1.5em;
	}

	#newsletter-validate-detail {
		text-align: center;
		margin:0px auto;

		.block-content{
			width:350px;
		}
	}

	#newsletter-validate-detail .block-content #newsletter, #newsletter-validate-detail .block-content .button{
	float:right;
	min-width: 30%;
	}

	#newsletter-validate-detail .block-content #newsletter{
		width:60%;
		border:1px solid black;
		font-size: 1em;
		text-align: center;
		height:18px;
	}

	.block-subscribe{
		width:90%;
		display: inline-block;
		vertical-align: middle;
		#newsletter-validate-detail, #newsletter-validate-detail .block-content{
			width:100%;
		}
	}

	.subscribe-button{
		
		border:1px solid black;
		margin:0px;
		background-color: black;
		padding:0px;
		min-width:100px;
		height:22px;

		span{
			color:white;
			font-weight: bold;			
			vertical-align: top;
		}
	}

	#newsletter-validate-detail .block-content {
	margin:0px auto;
	}

	.footer{
		margin:30px 0 20px;
		text-align: center;
	}

	.grid4{
		vertical-align: top;
		text-align: left;
		text-align:center;

		.grid4-wrapper{
			display:inline-block;
			margin:0px auto;
			text-align:left;			
		}

		ul{
			list-style: none;
			padding:0px;
			li{
				padding:5px 0px;

			}
		}
	}

	.footer .grid4 ul li a{
		text-decoration: none;
		color:black;
		font-size:0.9em;

		&:hover{
			font-weight: bold;
		}

		&:visited{
			color:#969696;
		}
	}

}


// ----- FOOTER - MOBILE -----
@include breakpoint($smartphone-breakpoint){
footer{
	.grid4-wrapper{
		text-align: center;
		width:45%;
		margin:0px auto;
		font-size: 1.25em;

		div, ul{
			text-align: left;
		}
	}

	.footer-mango-icon{
		display: inline-block;
		font-family: mango-font-icons;
	}

	.footer{
		.border-container {
			border:3px solid #8A8A8A;
			margin:2px auto;

			.grid2{
				border:0px;

				#newsletter-validate-detail{
					display: inline-block;
				}
			}
		}
		.grid4{
			width:100%;
			display: inline-block;
			margin:10px 0px;	

			ul{
				display: none;
				li{
					padding:8px 0px 8px 30px;
					a:hover{font-weight:normal;}
				}
			}	
		}

		.form-container{
			padding:5px 0px;
			width:95%;
			margin-bottom:10px;
		}
	}

	.block-subscribe{
			padding:10px 0px;
		}

		#newsletter-validate-detail .block-content #newsletter{
			padding:5px;
			width:70%;
		}

		.subscribe-button{
			
			border:1px solid black;
			margin:0px;
			background-color: black;
			padding:3px;
			min-width:30%;
			height:30px !important;

		}

		#newsletter_banner{
			padding:8px 0px;
			font-size:0.75em;
		}

		#newsletter-validate-detail .block-content .button {
			min-width:25%;
		}
	}

}




