.mobile-opened-closed{
	display: none;
}

nav
{
	display:none;
	@include breakpoint($desktop_min-width){display:block;}
	width:100%;
	margin:15px 0px 5px 0px;
	text-align: center;
	padding:0;

	ul{
		list-style: none;
		padding:0px;
		li{
			display:inline-block;
			margin-right:40px;
			@include breakpoint($desktop_min-width){
				&:hover > ul{
					display: block;
					height:0px;
				}
			}
			

			a{
				text-decoration: none;
				color:black; 
				text-transform: uppercase;
				font-size: 0.8em;
			}

			&>a:hover:not(:last-child){
				border-bottom:1px solid #b4b4b4;

			}
		}
	}
}

.level0 > a span:hover
{
	border-bottom:2px solid #646060;
}

/* DROPDOWN */
@include breakpoint($desktop_min-width){
nav ul li ul
{
	display: none;
	position: absolute; 
	padding:0px;
	z-index:200;

	&>li:hover{
		background-color: #e4e3e3;
		border: 0px;
		z-index:200;
	}

	li>a{
		border:0px;
		z-index:200;
	}

	li{
		width:120px;
		float:none;
		display:list-item;
		position: relative;
		text-align: left;
		background-color: white;
		padding:10px 0px;
		z-index:200;

		a{
			padding:15px 10px;
			text-transform: initial;
		}
	}
}
}



.links > li:nth-child(1){ /* HELP TOPMENU LINK */
		display: inline-block;
	}


.dropdown
{
  display:block;
  z-index:200;
}

/* DROPDOWN END*/


/* NAV FIXED */
.nav-fixed
{
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: white;
    height:40px;
    padding-top:15px;
    max-width:100%;

    .offcanvas{
    	padding:0;
    	margin:0;
    }

    .header_logo{
    	display: none;
    }

    nav{
    	position:fixed;
    	top:0px;
    	padding:0 1em;
    }

    @include breakpoint($desktop_min-width){
    	display:block !important;
    }

    .smartphoneLogo{
    	display: none;
    }

    .form-search{
    	top:60px;
    }
}
/* NAV FIXED END*/





/* OFFCANVAS MENU */
.offcanvas{
		display: block;
		position: fixed;
		left:0px;
		top:0px;
		width:100%;
		background-color: rgba(0,0,0,0.5);
		height:100%;
		padding:0px;
		margin:0px;
		z-index:999;

	ul{
		background-color: white;
		width:40%;
		height:100%;
		opacity: 1.0;
		margin:0px;
	}

	ul li ul{
		position:relative;
		width:93%;
		text-align: left;
		display: none;
	}
	ul li ul li{
		margin-left:15px;
	}
	ul li.mobileOnlyAddition a{
		margin-left:25px;
	}

	.nav-element-opened{
		display: block;
		width:100%;
		border-bottom:1px solid #B4B4B4;
		padding:7px 0px 10px 0px;

	}

	ul li ul li{
		font-size: 0.75em;
		width:100%;
		font-weight: normal;
	}

	.navTitle, .navClose{
		border:0;
		display: inline-block;
		width:40%;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 300;
	}

	.navClose{
		text-align: right;
	}

	.navClose span{
		background-color: black;
		color:white;
		font-size: 0.5em;
		padding:0px 7px;
		border-radius: 50%;
		vertical-align: middle;
		}

	.navClose span:hover{
		cursor: pointer;
		}

	ul li{
		display:block;
	}

	ul li a{
		font-weight: 400;
		font-size: 0.75em;
	}

	.TopNavIcon span{
		display: block;
		font-size: 2.5em;
	}

	.searchMiniIcon span{
	font-size: 2.25em;
	}

	ul li ul li:last-child{
		border:0 !important;
	}
	ul li ul li:last-child:hover{
		border:0 !important;
	}

	ul li{
		padding:10px 0px;
		border-bottom:1px solid #b4b4b4;
		width:90%;
		font-weight: bold;
		text-align: left;
		font-size: 1.5em;
		margin:0px auto;
	}
}



