// ----- NAV - DESKTOP ----- 
nav
{
	width:100%;
	margin:0 auto;
	text-align: center;
	padding:10px 0px 0px;

	ul{
		list-style: none;
		padding:0px;	

		li{
			display:inline-block;
			margin-right:40px;

			.last{
				margin-right:0px;
			}

			a{
				text-decoration: none;
				color:black; 
				text-transform: uppercase;
				font-size: 0.8em;
			}

			& > a:hover:not(:last-child){
				border-bottom:1px solid #b4b4b4;
			}
		}
	}
}

.mobile-opened-closed{
	display: none;
}


.level0 > a span:hover
{
	border-bottom:2px solid #646060;
}

/* DROPDOWN MENU */

nav ul li ul
{
	display: none;
	position: absolute; 
	padding:0px;
	z-index:200;

	&>li:hover{
		background-color: #e4e3e3;
		border: 0px;
		z-index:200;		
	}

	li > a{
	border:0px;
	z-index:200;
	}

	li{
		width:120px;
		float:none;
		display:list-item;
		position: relative;
		text-align: left;
		background-color: white;
		padding:10px 0px;
		z-index:200;
		
		a{
			padding:15px 10px;
			text-transform: initial;
		}
	}
}

.dropdown
{
  display:block;
  z-index:200;
}

/* DROPDOWN END*/


/* NAV FIXED */
.nav-fixed
{
    top: 0;
    z-index: 100;
    position: fixed;
    margin:0 auto;
    background-color: white;
    padding-top:10px;
    height:45px;
    max-width:$desktop-page-width;
    width:100%;
    text-align: center;

    .logo_column{
    	display: none;
    }

    nav {
    top: 0;
    z-index: 100;
    position: fixed;
    margin:0 auto;
    padding-top:20px;
    max-width:$desktop-page-width;
    width:100%;
    }


}

// ----- NAV - TABLET -----
@include breakpoint($tablet-breakpoint){

	.nav-element-opened{
		display: block;
		width:100%;
		border-bottom:1px solid #B4B4B4;
		padding:7px 0px 10px 0px;

		&:hover{
			border-bottom:1px solid #B4B4B4;
		}

	}

	nav ul li .has-children:hover{
		border:0 !important;
	}
	nav ul li ul li{
		font-size: 0.75em;
		width:100%;
		font-weight: normal;

		&:hover{
			background-color:white;
			border:0;			
		}
	}

	nav .navTitle{
		border:0;
		display: inline-block;
		width:40%;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 300;
	}

	nav .navClose{
		@extend .navTitle;
		text-align: right;

		span{
			background-color: black;
			color:white;
			@include m-border-radius(50%);
			display: inline-block;
			padding: 0.1em 0em;
			vertical-align: middle;
			text-align: center;
			font-size: 0.5em;
			max-width: 1.5em;
			width: 1.25em;		

			&:hover{
				cursor: pointer;
			}
		}
	}

	nav{
		display: none;
		position: fixed;
		left:0px;
		top:0px;
		width:100%;
		background-color: rgba(0,0,0,0.5);
		height:100%;
		padding:0px;
		z-index:999;

		ul {
			background-color: white;
			width:40%;
			height:100%;
			opacity: 1.0;
			margin:0px;

			li{
				display:block;

				a{
					font-weight: 400;
					font-size: 0.75em;
				}

				ul{
					position:relative;
					width:93%;
					text-align: left;	
					
					li{
						margin-left:15px;
					}		
				}
			}
		}
	}

	nav ul li{
		padding:10px 0px;
		border-bottom:1px solid #b4b4b4;
		width:90%;
		font-weight: bold;
		text-align: left;
		font-size: 1.5em;
		margin:0px auto;

		ul li:last-child{
			border:0 !important;

			&:hover{
				border:0 !important;
			}
		}
		ul li:not(:last-child){
			border-bottom:1px solid #B4B4B4;
			&:hover{
				border-bottom:1px solid #B4B4B4;
			}
		}
	}

	header nav ul li.mobileOnlyAddition a{
		margin-left:25px;
	}

	.level0 > a span:hover{
		border-bottom: 0;
	}

	.nav-fixed
	{
		padding-top:10px;
	    top: 0;
	    z-index: 100;
	    position: fixed;
	    width: 100%;
	    background-color: white;
	    height:50px;
	
	     #header_wrapper .search_column{
	    	width: 100%;
			position:fixed;
			margin-right: 3.44828%;
			text-align: center;
			margin: 0px auto;
    	}

    	.form-search-mini{
    		display: block;
    	}

    	.searchMiniIcon{
    		display: none;
    	}

    	nav{
    		padding:0px;
    		margin:0px;
    	}
	}
}

// ----- NAV - MOBILE -----
@include breakpoint($smartphone-breakpoint){
	nav ul{
		width:80%;
	}

	#header_wrapper .search_column .form-search-mini{
		display: none;
	}

	#header_wrapper .searchMiniIcon{
		display: block;
	}

	.nav-fixed{
		#header_wrapper{
			background-color:white;
			padding-top:5px;
		}

		.search_column .form-search-mini{
			display: none;
		}

		.searchMiniIcon{
				display: block;
		}

		.smartphoneLogo{
			display:none;
		}

		.search_column{
			width:auto !important; 
			position:initial !important;
		}
	}
}

