// ----- PRODUCTS IN CART - DESKTOP ----- 

.cart{
	.cart-view-size-label{
		padding:5px 7px;
		border:1px solid black;
		color:black;
		background-color: white;
	}

	#shopping-cart-table{
		width:100%;
		border:0;

		.product-image{
			width:100%;
			height:auto;
		}

		thead th{
			padding:5px 0px;
		}

		thead .first th{
				width:25%;
				text-align: center;
				font-weight: 300;
			}

		&>thead:nth-child(2) > tr:nth-child(1) > th:nth-child(3){
			width:15%;
		}
		&> thead:nth-child(2) > tr:nth-child(1){
			background-color: black;
			color:white;
			text-transform: uppercase;
			padding:5px;
			font-weight: 300;
		}

		&> thead:nth-child(2) > tr:nth-child(1) > th:nth-child(1){
			width:15%;
			vertical-align: center;
		}

		& th.a-center:nth-child(5){
			width:10%;
		}

		& th.a-center:nth-child(4){
			width:20%;
		}

		& > thead:nth-child(2) > tr:nth-child(1) > th:nth-child(2){
			width:35%;
			vertical-align: top;
		}

		 &> thead:nth-child(2) > tr:nth-child(1) span{
		 	color:white;
		 	font-weight: 300;
		 }

		 tr{
		 	text-align: center;
		 }

		 tbody tr td{
		   padding: 10px 0px;
		   border-bottom:1px solid #b0b0b0;
		   text-align:center;
		 }	

	}

	.itemAttribute-wrapper{
		width:70px;
		height:70px;
		display:inline-block;
		margin:0px 10px;
		text-align: center;

		div{
			margin:7px;
		}
	}

	.cart-fieldset{
		border:0;

		.btn-remove{
		  text-decoration: none;
		  text-align: center;
		  vertical-align: top;
		  background-color: #474444;
		  color: white;
		  padding: 6% 15%;
		  border-radius: 70%;
		}
	}

	#shopping-cart-table .qty{
		text-align: center;
		font-size: 1em;
		width:2em;
		border:1px solid #b5b5b5;
		padding:5px 2px;
	}

	.page-title  {
		text-align: left;
		h1{
			margin:30px 0px 0px 0px;
			padding:0px;
			text-align: center;
		}

		button{
			margin-left:10px;
		}
	}

	#shopping-cart-table .product-name{
		font-size: 1.25em;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom:15px;

		&:hover{
			font-weight: 400;
		}
	}
	 
	#shopping-cart-table > tfoot:nth-child(3) > tr:nth-child(1){
		text-align: right;
	}
}


// ----- CART - TABLET -----
@include breakpoint($tablet-breakpoint){
	.cart{
		.page-title button{
			margin-left:0;
		}

		.totals, .cart-collaterals, .shipping{
			display: block;
			width:100%;
			margin:20px auto;
		}

		.cart-fieldset .btn-remove{
			padding: 0.25em 0.5em;
		}
	}
}
