// ----- PRODUCTS IN CART - DESKTOP ----- 

.cart-view-size-label{
	padding:5px 7px;
	border:1px solid black;
	color:black;
	background-color: white;
}

#shopping-cart-table{
	width:100%;
	border:0;
}

#shopping-cart-table .product-image{
	width:100%;
	height:auto;
}

.itemAttribute-wrapper{
	width:70px;
	height:70px;
	display:inline-block;
	margin:0px 10px;
	text-align: center;
}

.itemAttribute-wrapper div{
	margin:7px;
}

.cart-fieldset{
	border:0;
}

.cart-fieldset .btn-remove{
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  background-color: #474444;
  color: white;
  padding: 6% 15%;
  border-radius: 70%;
}

#shopping-cart-table thead .first th{
	width:25%;
	text-align: center;
	font-weight: 300;
}

#shopping-cart-table > thead:nth-child(2) > tr:nth-child(1) > th:nth-child(3){
	width:15%;
}

#shopping-cart-table > thead:nth-child(2) > tr:nth-child(1){
	background-color: black;
	color:white;
	text-transform: uppercase;
	padding:5px;
	font-weight: 300;
}

#shopping-cart-table > thead:nth-child(2) > tr:nth-child(1) > th:nth-child(1){
	width:15%;
	vertical-align: center;
}

#shopping-cart-table th.a-center:nth-child(5){
	width:10%;
}

#shopping-cart-table th.a-center:nth-child(4){
	width:20%;
}

#shopping-cart-table > thead:nth-child(2) > tr:nth-child(1) > th:nth-child(2){
	width:35%;
	vertical-align: top;
}

 #shopping-cart-table > thead:nth-child(2) > tr:nth-child(1) span{
 	color:white;
 	font-weight: 300;
 }

 #shopping-cart-table tr{
 	text-align: center;
 }

 #shopping-cart-table tbody tr td{
   padding: 10px 0px;
   border-bottom:1px solid #b0b0b0;
   text-align:center;
 }

.cart-edit-item{
	padding:5px 10px;
	background-color: #474444;
	color:white;
	text-transform: uppercase;
	font-size: 0.75em;
	text-decoration: none;
	font-weight: 400;
}

.cart-edit-item:hover{
	background-color: black;
}

#shopping-cart-table .qty{
	text-align: center;
	font-size: 1em;
	width:2em;
	border:1px solid #b5b5b5;
	padding:5px 2px;
}

.cart .page-title  {
text-align: left;
}

.cart .page-title h1{
	margin:30px 0px 0px 0px;
	padding:0px;
	text-align: center;
}

#shopping-cart-table .product-name{
	font-size: 1.25em;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom:15px;
}

#shopping-cart-table .product-name:hover{
font-weight: 400;
}
 
#shopping-cart-table > tfoot:nth-child(3) > tr:nth-child(1){
	text-align: right;
}

.cart .cart-collaterals .input-box{
	display:block;
	width:100%;
}

 .cart .shipping-form select{
 	width:75%;
 	font-size: 1.5em;
 }

.shipping-form .form-list li{
	padding:5px 0px;
}

.cart-totals-wrapper{
	text-align: center;
	margin:10px auto;
}

.cart .totals, .cart .cart-collaterals, .cart .shipping{
	@include m-box-sizing(border-box);
	text-transform: none;
	vertical-align: top;
	text-align: left;
	border:1px solid #B4B4B4;
}

.cart-totals-wrapper .discount-form, .cart-totals-wrapper .shipping-form, .cart-totals-wrapper .totals>div{
	padding:10px;
}

.cart .page-title button{
	margin-left:15px;
}
.cart .totals{
	text-align: right;
}

.cart .totals table{
	float:right;
}

.cart .totals button, .cart .discount-form .buttons-set button{
	margin:5px 15px 5px 0px;
}

.cart .discount h2, .cart .shipping h2, .cart .totals h2{
	margin:0px;
	padding:3px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	color:white;
	background-color: black;
}

.cart #shopping-cart-totals-table tr td{
	padding:5px 20px 5px 0px;
}

.cart .cart-total-wrapper{
	margin:0px auto;
	text-align: center;
}

.cart #coupon_code{
	font-size: 1em;
	padding:2px;
	margin:10px 0px;
}

.cart #advice-required-entry-coupon_code{
	font-size:1.3em;
}

.cart .sp-methods dt{
font-weight: bold;
padding-right:10px;
margin-top:5px;
}

.cart .sp-methods dd{
	padding-right: 10px;
	margin:0px;
}

// ----- HEADER - TABLET -----
@include breakpoint($tablet-breakpoint){
	.cart .page-title button{
		margin-left:0;
	}
	.cart .totals, .cart .cart-collaterals, .cart .shipping{
		display: block;
		width:100%;
		margin:10px auto;
	}

	.cart .totals table{
		width:100%;
	}

	.cart-fieldset .btn-remove{
		padding: 0.25em 0.5em;
	}

	/* MY ACCOUNT */

	.my-account .addresses-primary ol li, .my-account .addresses-additional ol li{
		display: block;
		width:100%;
	}

	.my-account .order-info-box, .my-account .order-info, .my-account .order-date{
		width:45%;
	}

	.my-account{
		margin-left:2%;
	}

	.customer-account-index .col2-left-layout{
		margin:0px 4%;
	}

	.col2-left-layout .col-left{
		width:28%;
	}

	.col2-left-layout .col-main{
		width:72%;
	}

	.dashboard .welcome-msg, .dashboard .box-info, .my-account .box-recent{
		padding-left:10px;
	}

	.my-account #my-orders-table{
		font-size: 0.8em;
	}
	.my-account #form-validate{
		padding:0px 10px;
	}

	.box-info a{
		min-width:80px;
		width:auto;
	}

	.sidebar .block-account, div.block:nth-child(2), .sidebar .block-reorder, div.block:nth-child(2){
		margin:10px 0px 10px 0px;
	}

	.block-reorder .block-content ol{
		margin:0px;
		padding:0px;
	}

	.block-reorder .block-content #cart-sidebar-reorder li{
		padding:5px 0px;
	}

	.block-reorder .block-content .block-subtitle{
		font-size: 1em;
		padding:0px 0px 0px 10px;
	}

	.box-info .col2-set .col-1, .box-info .col2-set .col-2{
		display: inline-block;
		width:45%;
		margin:5px 0px;
	}


}
// ----- HEADER - MOBILE -----
@include breakpoint($smartphone-breakpoint){
}