.no-mq {

}

.no-rgba {

}

.no-flexbox{

	.homepage-product-grid, .image-container{
		text-align: center;
	}

	.grid2{
		width:38% !important;
		margin:0;
	}

	.image-container{
		.grid2{
			width:48% !important;
		}
	}
	.grid3{
		width:26% !important;
		display:inline;
	}

	.mini-menu{
		z-index:500 !important;
		background          : url(#);
		.product-image, .product-details, .btn-remove{
			display: inline;
		}

		.empty + #cart-free-delivery{
			display: none !important;
		}

		#free-delivery-outline, #free-delivery-text{
			display:none;
		}

		.buttons-container button{
			margin:0 auto;
			min-width:140px;
		}
	}

	.grid4{
		width:19% !important;
	}

	nav ul li{
		display: inline;

		ul{
			left:0px;
			top:0.75em !important;
			.last{
				margin-left:0px !important;
				left:0px !important;
				margin-right:40px !important;
			}
		}
	}

	.mobileOnly{
		display: none;
	}

	.links li, .links .first{
		display: inline;
	}

	.nav-fixed{
		nav{
			margin-left:25%;
		}
	}

	.breadcrumbs ul li{
		display: inline !important;
	}

	.products-grid .item, .mini-products-list .item{
		display: inline !important;

		.old-price, .special-price{
			display: inline !important;
		}
	}

	.col2-left-layout{
		.sidebar, .col-main{
			display: inline;
		}

		#size ol li{
			display: inline !important;
		}
	}

	.more-views{
		li{
			display: inline !important;
		}
	}

	.validation-advice{
		display: none !important;
	}

	.cart-totals-wrapper{
		.cart-collaterals, .shipping, .totals{
			display: inline !important;
			width:30% !important;
		}
	}

	.checkout-cart-index{

		.cart-table{
			th{
				width:25% !important;
				font-weight:bold;
				background:black;
				color:white;
				text-transform: uppercase;
				text-align: center;
			}
		}

		tfoot button{
			margin:10px !important;
		}

		.colorSwatches span{
			display: block !important;
		}
		.item-options{
			.itemAttribute-wrapper{
				display: inline !important;
			}
		}
	}
}

.no-backgroundsize{
	.TopNavIcon{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/shopping_bag.png',
	sizingMethod='scale');

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='images/shopping_bag.png',
	sizingMethod='scale')";
	}
}