.desktopTabletOnly{
		display: none;
	}

.smartphoneOnly{
		display: block;
}

	.inlineSmartphoneOnly{
		display: inline-block;
}

	.desktopOnly{
		display: none;
	}

	.mobileOnly{
		display: block;
	}

@include breakpoint($tablet_min-width){
	.desktopTabletOnly{
		display: block;
	}

	.smartphoneOnly{
		display: none;
	}

	.inlineSmartphoneOnly{
		display: none
	}

	.mobileOnly{
		display: none;
	}
}

@include breakpoint($desktop_min-width){
	.desktopTabletOnly{
		display: block;
	}

	.smartphoneOnly{
		display: none;
	}

	.inlineSmartphoneOnly{
		display: none
	}

	.desktopOnly{
		display: block;
	}

	.mobileOnly{
		display: none;
	}
}