// SUSY VARIABLES

$susy:(
		global-box-sizing:border-box,
		//debug: (image: show),
);

$header-layout-tablet: (
        columns: 6,
        gutters: 36px/57px,
        container-position: center
);


$header-layout-desktop: (
        columns: 3,
        gutters: 24px/37px,
        container-position: center
);

// VARIABLES
$desktop_min-width:1024px;
$tablet_min-width:625px;