// ----- LEFT SIDEBAR - DESKTOP -----

.col2-left-layout .col-left{
	display: inline-block;
	width:25%;
	padding-top:30px;
	vertical-align: top;

#narrow-by-list{
	margin-left:10px;

	dt{
		background-color:black;
		color:white;
		text-transform: uppercase;
		font-weight: bold;
		padding:10px 10px 10px 40px;
		font-size: 0.8em;
	}

	dd{
		border:1px solid #b4b4b4;
		margin:0px;
		margin-bottom:25px;
	}

}
	
	dd#apparel_type ol, dd#price ol, dd#color ol, dd#bed_bath_type ol, dd#decor_type ol, dd#home_decor_type ol, dd#material ol{
		list-style: none;
		padding-left:40px;

	}

	dd#apparel_type ol li, dd#price ol li, dd#color ol li, dd#bed_bath_type ol li, dd#decor_type ol li, dd#home_decor_type ol li, dd#material ol li{
		padding:5px 0px;
	}

	dd#apparel_type li a, dd#price li a, dd#color li a, dd#bed_bath_type ol li a, dd#decor_type ol li a, dd#home_decor_type ol li a, dd#material ol li a{
		text-decoration: none;
		color:black;
		text-transform: uppercase;
		font-size: 0.8em;
	}

	#size{
		text-align: center;

		ol{
			list-style: none;
			padding:2px 0px 2px 30px;	
			
			li{
				display: inline-block;
				margin: 10px 15% 10px 0px;	
				
				a{
					text-decoration: none;
					font-size: 1em;
					color:black;
					background-color: white;
					border:1px solid black;
					width:30px;
					height:20px;
					padding:2px 3px;
					&:hover{
						color:white;
						background-color: black;
					}
				}		
			}	
		}
	}

}

// ----- LEFT SIDEBAR - TABLET -----
@include breakpoint($tablet-breakpoint){
	.col2-left-layout .col-left{
		padding-top:10px;
		margin-left:0px;
		width:28%;

		#narrow-by-list dt{
			text-align: center;
			padding:10px;
		}

		#size{

			ol{
				padding:0px;
				margin:2px auto;	
				li{
					margin-right:12%;
				}
			}
		}			

		dd#apparel_type ol li, dd#price ol li, dd#color ol li, dd#bed_bath_type ol li, dd#decor_type ol li, dd#home_decor_type ol li, dd#material ol li{
			padding:10px 0px;
		}

		dd#apparel_type ol, dd#price ol, dd#color ol, dd#bed_bath_type ol, dd#decor_type ol, dd#home_decor_type ol, dd#material ol{
			padding:5px 0px 5px 5px;
		}

	}
}

// ----- LEFT SIDEBAR - SMARTPHONE -----
@include breakpoint($smartphone-breakpoint){
.col2-left-layout {
	.sidebar{
		width:100%;
	}

	.open-close-filters:before{
		content:"- " !important;
	}

	.col-left{

		.filters-visible{
			display:block;
			@include m-transform-origin(center top);
			@include m-animation(scale-fadein 0.25s 1);

			 #narrow-by-list .filter-group-visible{
				display:block;
				@include m-transform-origin(center top);
				@include m-animation(scale-fadein 0.25s 1);
			}
		}
		#showFilters{
			margin:10px 2px 10px 20px;
			font-size: 1.2em;
			text-transform: uppercase;
			display: inline-block;

			&:before{
				content:" ";
				font-family:mango-font-icons;
			}

			&:hover{
				cursor: pointer;
			}
		}

		#narrow-by-list{

			margin:0px;

			dt{
				background-color: white;
				font-weight: normal;
				font-size: 1.2em;
				color:black;
				padding:0px;
				margin:0px 0px 5px 40px;
				text-align:left;

			&:before{
				content:" ";
				font-family:mango-font-icons;
			}

				&:hover{
					cursor: pointer;
				}
			}

			dd#apparel_type ol li, dd#price ol li, dd#color ol li, dd#bed_bath_type ol li, dd#decor_type ol li, dd#home_decor_type ol li, dd#material ol li{
				margin:0px;
				padding:5px 0px;
			}

			dd#apparel_type li a, dd#price li a, dd#color li a, dd#bed_bath_type ol li a, dd#decor_type ol li a, dd#home_decor_type ol li a, dd#material ol li a{
				margin:0px;
				padding:0px;
				font-size: 1.2em;
				text-transform: none;
			}

			#size ol li a {
				font-size: 1.2em;
				padding:5px;
			}
			#size ol{
				text-align: left;

				li{
					margin:15px 15% 15px 0px;
				}
			}

			dd{
				margin-left:70px;
				border:0px;
				display:none;
			}
		}
		
		#showFilters span, .filterList #narrow-by-list dt span{
				font-family: mango-font-icons;
			}
		}
	}
}




