// ----- LOGIN AND REGISTER PAGE - DESKTOP -----

.account-create, .account-login-page, .forgot-pass-wrapper{
	width:40%;
	margin:20px auto;
	border:1px solid #b5b5b5;
	padding:25px 100px;

	p.required{
		font-size:0.75em;
		margin:20px 0px;
	}

	p.flavor-text{
		margin:10px 0px;
	}

	.input-box #is_subscribed, label, .buttons-set{
		margin:10px 0px;
	}

	.input-box div.validation-advice{
		font-size:1.5em !important;
	}
}

.account-create input:focus, .account-login-page input:focus, .forgot-pass-wrapper input:focus{
	border:2px solid #b5b5b5;
	padding:3px;
}

.account-create .page-title h1, .account-login-page .page-title h1, .cart .page-title h1, .forgot-pass-wrapper .page-title h1, .search-results .page-title h1{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight:200;
}

.account-login-page input{
	border: 2px solid #B5B5B5;
	padding:4px;

	&:focus{
	    border: 2px solid #E9E8E8;
	    padding:4px;		
	}
}

div.page-title:nth-child(3) > h1:nth-child(1), .account-login-page .form-list li{
	margin:25px 0px;
}

.customer-name, div.fieldset:nth-child(2){
	text-transform: none;
}

.fieldset input{
	margin:3px 0px 10px 0px;
	width:88%;
}

#form-validate input{
	border:2px solid #b5b5b5;
	padding:5px;

	&:focus{
		border:2px solid #e9e8e8;
	}
}

.forgot-pass{
	text-align: center;
}

.account-login-page a.f-left{
	text-align: center;

	&:hover{
		font-weight:bold;
	}
}

#email_address{
	margin: 3px 0px 10px 0px;
}

ul.form-list:nth-child(3) > li:nth-child(2) > label:nth-child(1){
		text-transform: none;
}

.field .required{
	text-transform: none;
}

p .control{
	list-style: none;
}

input#is_subscribed{
	width:auto;
	display:inline-block;
}

div.input-box:nth-child(3){
	text-align: left;
	width:auto;
	display:inline-block;
}

.buttons-set button[title="Submit"]{
	background-color: #ad0202;

	span{
		color:white;
		text-transform: uppercase;		
	}
}

// ----- LOGIN AND REGISTER PAGE - TABLET -----
@include breakpoint($tablet-breakpoint){
	.customer-account-login{
		.login-page-buttons{
			.red-button{
				margin:10px auto;
			}
		}

		a.f-left{
			margin-top:20px;
		}
	}

}
// ----- LOGIN AND REGISTER PAGE - MOBILE -----
@include breakpoint($smartphone-breakpoint){
	.customer-account-login{
		.login-page-buttons{
			.red-button, .grid2{
				margin:0px auto;
			}
		}
	}
}