// ------ PASSWORD RECOVERY - DESKTOP ------

.form-list{
	margin:20px 0px;
}


// ----- PASSWORD RECOVERY - TABLET ------
@include breakpoint($tablet-breakpoint){

.account-create, .account-login-page, .forgot-pass-wrapper
	{
		width:70%;
		padding:20px;

		input{
			width:95%;
		}

		.form-list{
			margin:20px 0px;
		}
	}

	.account-login-page{
		width:80%;
		padding:25px;
	}

	.account-login-page .gray-button, .account-login-page .red-button{
		width:100%;
		margin:0px;
	}
}

@include breakpoint($smartphone-breakpoint){
		.forgot-pass-wrapper{
			width:95%;
			padding:20px;

			.page-title h1{
			text-align: center;
			}
		}
}