// ------ DESKTOP

body
{
	background-color: white;
	color:black;
}

.page{
	max-width:$desktop-page-width;
	margin:0 auto;
}

.grid2
{
	text-align: center;
	text-transform: uppercase;
	margin:0 auto;

	p{
		margin-left:10%;
		margin-right:auto;
		font-size: 1em;
		text-align: left;		
	}
}

.grid3
{
	width:32.5%;
	display: inline-block;
	margin:0 auto;
	text-align: center;
	text-transform: uppercase;

	h2{
		margin:0px;
		padding:5px 0px;		
	}
}

.main
{
	width:100%;
	clear:both;
}

.border-container
{
	border:3px solid #8a8a8a;
	width:100%;
	margin:5px auto;
	text-align: center;
}

.form-container
{
	vertical-align: middle;
	margin-bottom:25px;
}


// ----- TABLET
@include breakpoint($tablet-breakpoint){
	.grid2 p{
		margin:10px 0%;
		text-align: center;
	}
}

// ----- SMARTPHONE
@include breakpoint($smartphone-breakpoint){
	.image-container .grid2 .img-top, .grid2{
		width:100%;
		display: block;
		margin:10px auto;
		padding:0px;
	}

	.border-container{
		border:0px;

		.grid2{
			margin:20px 0px 0px 0px;
			border:3px solid #8A8A8A;			
		}
	}

	.border-container-black{
		border:0;

		.grid2{
			margin:20px 0px 0px 0px;
			border:1px solid black;			
		}
	}

	.grid3{
		width:100%;
		display: block;
		text-align: center;

		h2{
			padding:10px 0px;
		}

		img{
			text-align: center;
			margin:0px auto;			
		}
	}
}

// --------- COL2 LAYOUT ----------
.sidebar .block-account, .sidebar .block-reorder {
	border:1px solid #B4B4B4;
	margin:20px 20px 10px 0px;
}

.sidebar .block-account, div.block:nth-child(2), .sidebar .block-reorder, div.block:nth-child(2){
	margin:10px 0px 10px 0px;
}

.col2-left-layout .col-left{
	margin-left:10px;
}


@include breakpoint($tablet-breakpoint){
	.col2-left-layout {
		margin:0px 1%;
	}
	.customer-account-index .col2-left-layout{
		margin:0px 4%;
	}

	.col2-left-layout .col-left{
		width:30%;
		margin-left:0px;
	}

	.col2-left-layout .col-main{
		width:72%;
	}
}

@include breakpoint($smartphone-breakpoint){
	.col2-left-layout .col-main{
		width:100%;
	}

	.col2-left-layout .sidebar{
		width:100%;
	}

	.main-container{
		margin:0px 2%;
	}
}