/* line 1, ../scss/email-inline.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300;
  background: white;
  color: black !important;
  max-width: 720px;
  margin: 10px auto;
  padding: 1em;
}

/* line 18, ../scss/email-inline.scss */
a {
  color: black;
}

/* line 22, ../scss/email-inline.scss */
.logo-container {
  width: 100%;
}
/* line 24, ../scss/email-inline.scss */
.logo-container .logo-link-image {
  text-align: center;
  display: block;
}
/* line 27, ../scss/email-inline.scss */
.logo-container .logo-link-image img {
  margin: 0px auto;
  width: auto;
  height: auto;
}

/* line 36, ../scss/email-inline.scss */
.email-heading h3 {
  text-transform: uppercase;
  font-weight: 200;
}
/* line 41, ../scss/email-inline.scss */
.email-heading p {
  padding-right: 20px;
}

/* line 46, ../scss/email-inline.scss */
.store-info {
  font-size: 0.9em;
  width: 30%;
}
/* line 49, ../scss/email-inline.scss */
.store-info h4 {
  margin: 0px;
  text-transform: uppercase;
  font-weight: 200;
  border-left: 2px solid #b4b4b4;
  padding-left: 5px;
  padding-bottom: 5px;
}
/* line 58, ../scss/email-inline.scss */
.store-info a {
  color: black;
}
/* line 63, ../scss/email-inline.scss */
.store-info p {
  margin: 0px !important;
  border-left: 2px solid #b4b4b4;
  padding-left: 5px;
  line-height: 1.5em;
}

/* line 71, ../scss/email-inline.scss */
.order-details {
  border: 1px solid black;
}
/* line 73, ../scss/email-inline.scss */
.order-details h3 {
  background: black;
  color: white !important;
  padding: 5px;
  margin-top: 0;
  font-weight: 200;
  text-transform: uppercase;
}
/* line 79, ../scss/email-inline.scss */
.order-details p {
  padding: 3px;
}

/* line 85, ../scss/email-inline.scss */
.action-content h3 {
  font-weight: 200;
  text-transform: uppercase;
}
/* line 90, ../scss/email-inline.scss */
.action-content ul li {
  padding: 0.25em 0em;
}

/* line 96, ../scss/email-inline.scss */
.top-content table {
  width: 100%;
}
/* line 99, ../scss/email-inline.scss */
.top-content table h6 {
  font-size: 1em;
  text-transform: uppercase;
}

/* line 106, ../scss/email-inline.scss */
.message-container {
  margin: 20px auto;
}

/* line 110, ../scss/email-inline.scss */
.account-info {
  background: black;
  color: white !important;
  padding: 5px;
  margin-top: 0;
  font-weight: 200;
  text-transform: uppercase;
  margin: 20px auto 0px auto;
  max-width: 450px;
  border: 1px solid black;
}

/* line 119, ../scss/email-inline.scss */
.highlighted-text {
  border: 1px solid black;
  margin: 0px auto;
  padding: 5px;
  line-height: 2em;
  max-width: 450px;
}

/* line 127, ../scss/email-inline.scss */
.order-information {
  font-size: 1em;
}
/* line 130, ../scss/email-inline.scss */
.order-information table {
  background-color: white !important;
  color: black;
  border-color: black;
}
/* line 136, ../scss/email-inline.scss */
.order-information h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  color: black !important;
  font-size: 0.8em;
  margin: 15px 0px;
}
/* line 143, ../scss/email-inline.scss */
.order-information table {
  margin-top: 10px;
}
/* line 146, ../scss/email-inline.scss */
.order-information table dl {
  padding-left: 1em;
  font-size: 11px;
}
/* line 151, ../scss/email-inline.scss */
.order-information table tbody tr td, .order-information table tr dt, .order-information table tr dd {
  font-size: 1em !important;
  vertical-align: middle;
}
/* line 157, ../scss/email-inline.scss */
.order-information table tbody tr td strong, .order-information table tbody tr td dd {
  font-size: 1.25em !important;
}
/* line 160, ../scss/email-inline.scss */
.order-information table tbody tr td strong em, .order-information table tbody tr td dd em {
  text-transform: none;
}
/* line 165, ../scss/email-inline.scss */
.order-information table tr td strong {
  text-transform: uppercase;
  font-weight: normal;
}
/* line 170, ../scss/email-inline.scss */
.order-information table tr dt {
  display: inline-block;
  font-weight: bold;
  text-transform: none !important;
}
/* line 176, ../scss/email-inline.scss */
.order-information table tr dd {
  display: inline-block;
  margin-right: 80%;
}
/* line 183, ../scss/email-inline.scss */
.order-information thead th {
  background-color: black;
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 55%;
}
/* line 192, ../scss/email-inline.scss */
.order-information td > table > tbody > tr > td {
  font-size: 1em !important;
}
/* line 196, ../scss/email-inline.scss */
.order-information tbody {
  background-color: white;
  color: black;
}
/* line 202, ../scss/email-inline.scss */
.order-information .method-info p strong {
  font-size: 1em !important;
  text-transform: none !important;
}

/* line 210, ../scss/email-inline.scss */
.subtotal td, .shipping td, .grand_total td {
  text-transform: none;
  font-size: 0.75em;
}

/* line 216, ../scss/email-inline.scss */
.closing-text {
  border-top: 1px solid #b4b4b4;
  padding-top: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  color: black !important;
  font-weight: normal;
}

@media (max-width: 560px) {
  /* line 225, ../scss/email-inline.scss */
  td {
    display: block;
    width: 100% !important;
  }

  /* line 229, ../scss/email-inline.scss */
  .store-info {
    border: 0 !important;
    padding: 20px 0px;
    font-size: 1em;
    width: 100%;
  }
  /* line 235, ../scss/email-inline.scss */
  .store-info a, .store-info p, .store-info h4 {
    border: 0 !important;
    padding-left: 0 !important;
  }

  /* line 241, ../scss/email-inline.scss */
  .account-info {
    font-size: 0.75em;
  }

  /* line 244, ../scss/email-inline.scss */
  .order-information {
    font-size: 1em;
  }
  /* line 246, ../scss/email-inline.scss */
  .order-information td {
    display: table-cell !important;
    width: auto !important;
  }
  /* line 251, ../scss/email-inline.scss */
  .order-information .address-details, .order-information .method-info {
    width: 100% !important;
    display: block !important;
  }
  /* line 256, ../scss/email-inline.scss */
  .order-information h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    color: black !important;
    font-size: 0.8em;
    margin: 15px 0px;
  }
  /* line 263, ../scss/email-inline.scss */
  .order-information table {
    margin-top: 10px;
  }
  /* line 266, ../scss/email-inline.scss */
  .order-information table tr td strong {
    text-transform: uppercase;
    font-weight: normal;
  }
  /* line 271, ../scss/email-inline.scss */
  .order-information table tr dt {
    display: block;
    margin: 0;
    font-weight: bold;
    text-transform: none !important;
  }
  /* line 278, ../scss/email-inline.scss */
  .order-information table tr dd {
    display: block;
    margin: 0;
  }
}
