// ----- CHECKOUT- DESKTOP ----- 
 .checkout-onepage-index{
 	p.required{
 		font-size:0.75em;
 		margin:10px 0px;
 	}
	#billing-new-address-form, #checkout-step-shipping{
	 	.fields,.wide{
	 		width:45%;
	 		display:inline-block;
	 		margin:10px 0px;
	 	}

	 	.input-box input{
	 		margin-top:5px;
	 		margin-bottom:10px;
	 	}
	}


	 #checkoutSteps{
		border:1px solid #b4b4b4;
		width:75%;
		margin:10px auto;

		#billing-address-select, #shipping-address-select{
			width:80%;
			margin:10px 0px;
		}

		fieldset{
			border: 0;
			padding:0px 20px;
			.input-box div{
				font-size: 1.25em;
			}		
		}

		fieldset fieldset, #co-shipping-form{
			width:100%;
			padding:0;
		}

		.step-title h2{
			background-color: black;
			color:white;
			text-transform: uppercase;
			font-size: 1em;
			padding:5px 20px;
			margin:0px;
			font-weight: 300;
		}

		li:not(:last-child) .step-title h2{
			border-bottom:1px solid white;
		}
		.form-list li{
			padding:3px 0px;

			&.control{
				margin:10px 0px;
				width:30%;
				display:inline-block;

				input{
					margin-right:5px;
				}
			}
		}
	}

	#billing\:country_id{
		display: inline-block;
		width: auto;
	}

	.checkout-wrapper{
		margin-top:20px;

		.please-wait{
			display: none;
		}
	}
}


// ----- CHECKOUT - MOBILE -----
@include breakpoint($smartphone-breakpoint){
 .checkout-onepage-index{
		#checkoutSteps{
			width:100%;
			li #billing-buttons-container{
				margin:10px 0px;
			}

			fieldset, fieldset fieldset{
			margin:0px;
			padding:10px;
			}
		}
		#billing\:country_id{
			display: block;
			width:100%;
		}

		.my-account-edit .customer-name .field, #checkoutSteps .customer-name .field, #checkoutSteps .fields .field{
			display: block;
			width:100%;
		}
	}
}