// ----- CHECKOUT- DESKTOP ----- 
 .checkout-onepage-index{
 	.main-container{
 		padding:1em;

 		.red-button{
 			margin:0;
 		}

 		#co-shipping-method-form{

 			.grid3{
 				width:45%;
 				text-transform: none;
 			}
 			dl{
 				dt{
 					font-weight: bold;
 					margin-top:0.5em;
 				}

 				dd{
 					margin:0.5em 0;
 				}
 			}
 		}

 		.gift-messages{
 			h3{
 				font-weight: bold;
 				margin:0.5em 0;
 			}

 			.control{
 				margin:0.5em 0;
 			}

 		}

 	 		.inner-box{
 			padding-left:0.5em;
 			margin-left:0.5em;
 			border-left:2px solid #b4b4b4;

 			h4{
 				margin:0.5em 0;
 			}

 			p{
 				margin:0.5em 0;
 			}
 		}
 	}

 	.please-wait{
 		display: none;
 	}


 	.sidebar{
 		@include m-box-sizing(border-box);
 		border-left:2px solid #b4b4b4;
 		padding-left:0.5em;
 		height:90%;
 		right:0;
 		margin-bottom:1em;

 		h1{
 			text-transform: uppercase;
 		}

 		h2{
 			font-size:1.25em;
 			text-transform: uppercase;
 			margin:1em 0em;
 		}

 		h3{
 			font-size:1em;
 			margin:1em 0em;
 		}

 		dt{
  			font-size:1em;
 			margin:1em 0em;	
 			font-weight: bold;
 			span{
 				font-weight: normal;
 			}		
 		}
 	}
 	p.required{
 		font-size:0.75em;
 		margin:10px 0px;
 	}
	#billing-new-address-form, #checkout-step-shipping{
	 	.fields,.wide{
	 		width:45%;
	 		display:inline-block;
	 		margin:10px 0px;
	 	}

	 	.input-box input{
	 		margin-top:5px;
	 		margin-bottom:10px;
	 	}
	}


	 #checkoutSteps{
		border:1px solid #b4b4b4;

		margin:10px auto;

		#billing-address-select, #shipping-address-select{
			width:80%;
			margin:10px 0px;
		}

		fieldset, form{
			border: 0;
			padding:0px 20px;
			.input-box div{
				font-size: 1.25em;
			}		
		}

		fieldset fieldset, form fieldset{
			padding:0px;
		}

		fieldset fieldset, #co-shipping-form{
			width:100%;
		}

		.step-title h2{
			background-color: black;
			color:white;
			text-transform: uppercase;
			font-size: 1em;
			padding:5px 20px;
			margin:0px;
			font-weight: 300;
		}

		li:not(:last-child) .step-title h2{
			border-bottom:1px solid white;
		}

		.form-list{
			margin:5px 0px;
		}
		.form-list li{
			padding:3px 0px;

			&.control{
				margin:10px 0px;
				width:100%;
				display:inline-block;

				input{
					margin-right:5px;
				}
			}
		}
	}

	#billing\:country_id{
		display: inline-block;
		width: auto;
	}

	.checkout-wrapper{
		margin-top:20px;

		.please-wait{
			display: none;
		}
	}
}


// ----- CHECKOUT - MOBILE -----
@include breakpoint($smartphone-breakpoint){
 .checkout-onepage-index{

 	.sidebar{
 		position:relative;
 		height:auto;
 		border:0;
 		padding-left:0;
 	}
		#checkoutSteps{
			width:100%;
			li #billing-buttons-container{
				margin:10px 0px;
			}

			fieldset, fieldset fieldset{
			margin:0px;
			padding:10px;
			}
		}
		#billing\:country_id{
			display: block;
			width:100%;
		}

		.my-account-edit .customer-name .field, #checkoutSteps .customer-name .field, #checkoutSteps .fields .field{
			display: block;
			width:100%;
		}
	}
}