
/* CSS RESET FOR TABLE*/

.mobileOnly, .smartphoneOnly, .inlineSmartphoneOnly{
	display: none; 
}

.desktopOnly{
	display: block;
}

.desktopTabletOnly{
	display: block;
}


/* PAGE NOT FOUND */

.page-not-found-wrapper{
	border:1px solid #b4b4b4;
	width:80%;
	margin:10px auto;
}

.page-not-found-wrapper a{
	color:black;
}

.page-not-found-wrapper a:hover{
	font-weight: bold;
}

.page-not-found-header{
	background-color: black;
	color:white;
	text-align: center;
	padding:10px;
	margin:0;
	text-transform: uppercase;
}

.page-not-found-wrapper .products-grid .item{
	width:30%;
}

/* PAGE NOT FOUND END */
.messages{
position:fixed;
top:0px;
left:0px;
text-align: center;
margin: 0px auto;
width: 100%;
height:65px;
background-color: white;
list-style:none;
padding:20px 0px 0px 0px;
z-index:300;
}


body
{
	margin:0px;
	background-color: white;
	color:black;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.main-container{
	//margin:0px 7%;
}






/* NAV FIXED END*/


/* MINI MENU */


/* GRAY BUTTON HOVER AND ACTIVE */



/* GRAY BUTTON HOVER AND ACTIVE END */

/* RED BUTTON HOVER AND ACTIVE */


/* RED BUTTON HOVER AND ACTIVE END */

/* REGISTER PAGE AND LOGIN PAGE */

#form-validate .fieldset{
	font-size: 0.75em;
}

.account-create, .account-login-page, .forgot-pass-wrapper{
	width:40%;
	margin:20px auto;
	border:1px solid #b5b5b5;
	padding:25px 100px;
}

.account-login-page .content, .forgot-pass-wrapper .fieldset{
	font-size: 0.75em;
}

.forgot-pass-wrapper .buttons-set{
	text-align: center;
}

.account-create input:focus, .account-login-page input:focus, .forgot-pass-wrapper input:focus{
	border:2px solid #b5b5b5;
	padding:3px;
}

.account-create .page-title h1, .account-login-page .page-title h1, .cart .page-title h1, .forgot-pass-wrapper .page-title h1, .search-results .page-title h1{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight:200;
}

.account-login-page input{
	font-size: 1.75em;
	border: 2px solid #B5B5B5;
	padding:4px;
}

.account-login-page input:focus{
    border: 2px solid #E9E8E8;
    padding:4px;
}

div.page-title:nth-child(3) > h1:nth-child(1), .account-login-page .form-list li{
	margin:25px 0px;
}

ul.form-list:nth-child(3) > li:nth-child(1){
	margin:0px;
	padding:0px;
}

.customer-name, div.fieldset:nth-child(2){
	text-transform: none;
}

.fieldset input{
	margin:3px 0px 10px 0px;
	font-size: 1.75em;
	width:88%;
}

#form-validate input{
	border:2px solid #b5b5b5;
	padding:5px;
}

.forgot-pass{
	text-align: center;
}

.account-login-page a.f-left{
	text-align: center;
}

.account-login-page a.f-left:hover{
	font-weight:bold;
}



#form-validate input:focus{
	border:2px solid #e9e8e8;
}


#email_address{
	margin:10px 0px 10px 0px;
}

ul.form-list:nth-child(3) > li:nth-child(2) > label:nth-child(1){
		text-transform: none;
}

.field .required{
	text-transform: none;
}

p .control{
	list-style: none;
}

input#is_subscribed{
	width:auto;
	dispay:inline-block;
}

div.input-box:nth-child(3){
	text-align: left;
	width:auto;
	display:inline-block;
}

div.buttons-set:nth-child(5){
	text-align: right;
	margin:0px 8% 0px 0px;
}

.buttons-set button[title="Submit"]{
	background-color: #ad0202;
}

.buttons-set button[title="Submit"] span{
color:white;
text-transform: uppercase;
}

/* REGISTER PAGE END */

.main
{
	width:100%;
	clear:both;
}

.border-container
{
	border:3px solid #8a8a8a;
	width:100%;
	margin:5px auto;
	text-align: center;
}

.image-container
{
	vertical-align: top;
	text-align: center;
	margin:30px 0px;
	text-align: center;

}

.grid3
{
	width:32.5%;
	display: inline-block;
	margin:0 auto;
	text-align: center;
	text-transform: uppercase;
}

.grid3 h2
{
	margin:0px;
	padding:5px 0px;
}

.form-container
{
	vertical-align: middle;
	margin-bottom:25px;
}


/* PRODUCT CATEGORIES */

/* COLOR SWATCHES */

.colorSwatches{
	text-align: center;
}

.colorSwatches span{
	padding:1px 10px;
	font-size: 5px;
	margin:0px 3px;
}

.Black{
	background-color:black;
}

.Blue{
	background-color: blue;
}

.Brown{
	background-color: #8B4513;
}

.Green{
	background-color: green;
}

.Grey{
	background-color: gray;
}

.Indigo{
	background-color: #4B0082;
}

.Khaki{
	background-color: #bdb76b;
}

.Oatmeal{
	background-color: #fff8dc;
}

.Orange{
background-color: orange;
}

.Pink{
background-color: #FF69B4;
}

.Purple{
background-color: purple;
}

.Red{
background-color: red;
}

.Silver{
background-color: silver;
}

.White{
background-color: white;
box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:1px solid black;
}

.Yellow{
background-color:yellow; 
}
/* SWATCHES END */



/* CATEGORIES PAGE */
.col2-left-layout {
	//margin:0px 7%;
}

.col2-left-layout .col-main{
	float:right;
	width:75%;
}

.col2-left-layout .col-left{
	float:left;
	width:25%;
	padding-top:30px;
}

.products-grid{
	list-style: none;
	margin-bottom: 50px;
	text-align: center;
	padding-left:2%;
}

.products-grid li{
display:inline-block;
width:30%;
margin:0px 1.2%;
}

.products-grid li h2{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.9em;
}

.products-grid .item{
	text-align: center;
	vertical-align: top;
	margin:10px 5x;
	position:relative;
}

.products-grid .item .product-image{
	width:100%;
}

.category-products .actions, .product .actions{
		position:absolute;
		top:4px;
	    left:4px;
}

.actions .availability{
	margin:0px;
	padding:5px;
	text-transform: uppercase;
	font-size: 0.75em;
	background-color: white;
}

.actions .out-of-stock{
	border:1px solid #cfcfcf;
}

.actions .discounted-price{
	border:1px solid #ed1c24;
}

.actions .new-product{
	border:1px solid black;
}

.breadcrumbs ul{
	list-style: none;
	margin:0px;
	font-size:0.8em;
}

.breadcrumbs ul li {
	display: inline-block;
}

.breadcrumbs ul li a {
	text-decoration: none;
	color:black;
	font-weight: normal;
}

#narrow-by-list dt{
	background-color:black;
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	padding:10px 10px 10px 40px;
	font-size: 0.8em;
}

#narrow-by-list dd{
	border:1px solid #b4b4b4;
	margin:0px;
	margin-bottom:25px;
}

.old-price,.special-price{
	margin:0;
	display: inline-block;
}

.price-box{
	margin:5px 0px;
}

.old-price{
	margin:0px;
	text-decoration: line-through;
	margin-right:15px;
}

#size{
	text-align: center;
}
#size ol{
	list-style: none;
	padding:2px;
}

#size ol li{
display: inline-block;
margin: 10px 8%;
}

#size ol li a {
	text-decoration: none;
	font-size: 1em;
	color:black;
	background-color: white;
	border:1px solid black;
	width:30px;
	height:20px;
	padding:2px 3px;

}

#size ol li a:hover{
	color:white;
	background-color: black;
}

.pages{
	text-align: center;
	margin:0px auto;
}

.pages ol{
	list-style: none;
}

.pages ol li{
	display: inline;
	margin:0px;
	padding:5px 10px;
	border: 1px solid black;
}

.pages ol li a {
text-decoration: none;
background-color:white;
color:black;
}

.pages ol .current{
background-color:black;
color:white;
}

.product-short-description{
	font-size: 0.8em;
}

.category-title h1, .dashboard-page-title h1, .my-account .page-title h1, .checkout-wrapper .page-title h1{
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	margin:0px;
	line-height: 1.5;
}

.category-divider, .my-account-divider{
	margin:0px;
	padding:0px;
	height:1px;
	margin-left:35px;
 	border: 0; 
 	border-top: 1px solid #e5e5e5;
}

.my-account .fieldset{
	width:75%;
	margin:10px auto;
}

.my-account .buttons-set{
	text-align: center;
}

dd#apparel_type ol, dd#price ol, dd#color ol, dd#bed_bath_type ol, dd#decor_type ol, dd#home_decor_type ol, dd#material ol{
	list-style: none;
	padding-left:40px;

}

dd#apparel_type ol li, dd#price ol li, dd#color ol li, dd#bed_bath_type ol li, dd#decor_type ol li, dd#home_decor_type ol li, dd#material ol li{
	padding:5px 0px;
}

dd#apparel_type li a, dd#price li a, dd#color li a, dd#bed_bath_type ol li a, dd#decor_type ol li a, dd#home_decor_type ol li a, dd#material ol li a{
	text-decoration: none;
	color:black;
	text-transform: uppercase;
	font-size: 0.8em;
}

#category-sort-by{
text-align: right;
padding:15px 0px; 	
}

#category-sort-by select{
	border:1px solid black;
	text-transform: uppercase;
	margin-left:10px;
	width:100px;
	font-size: 0.9em;
}

.toolbar-bottom{
	margin:30px auto;
}

.toolbar-bottom .toolbar #category-sort-by
{
	display: none;
}

.toolbar-top .pager .pages{
	display: none;
}

.toolbar-top .link-return-to-top, .toolbar-bottom .link-return-to-top{
	display: none;
}

/* CATEGORIES PAGE END */



/* PRODUCT PAGE */
.product-view{
	margin-top:30px;
}

#product-info-wrapper{
	text-transform: none;
	text-align: left;
	vertical-align: top;
}

#product-info-wrapper h1{
	margin:0px 0px 20px 0px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.75em;
}

#image-box-wrapper{
		text-transform: none;
	vertical-align: top;
	text-align: center;

}

#product-info-wrapper p{
	margin:10px 0px;
}

#image-box-wrapper .product-img-box p{
	margin:0px auto;
}

.more-views ul{
	list-style: none;
	text-align: center;
	padding:0px;
}

.more-views ul li{
	display: inline-block;
	margin:0px 10px;
	border: 1px solid #969696
}

.product-image{
	width:35%;
	height:auto;
}

.price-qty-wrapper{
	margin:10px 0px;
}

.price-qty-wrapper .price-box{
		display: inline-block;
		vertical-align: middle;
		font-size: 1.25em;
		float:left;
}
.price-qty-wrapper .price-box p{
	padding-right:40px;
	vertical-align: middle;
}

.price-qty-wrapper .price-box .old-price{
	font-size: 0.75em;
	vertical-align: middle;
}

.price-qty-wrapper .price-box .special-price, .price{
	font-weight: 500;
}

.qty-control-wrapper{
	display: inline-block;
	float:right;
}

.qty-control{
	text-decoration: none;
	color:#5e5e5e;
	border:1px solid black;
	border-radius:10px;
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
	border-radius: 20px;
	width: 30px;
	padding: 0px 0px 3px 0px;
	text-align: center;
	font-size: 1.25em;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari - select text on double click fix */        
	-moz-user-select: none; /* Firefox - select text on double click fix */
	-ms-user-select: none; /* IE10+ - select text on double click fix  */
}

.product-shop{
	clear:both;
}

#qty{
	width:2em;
	font-size: 1em;
	text-align: center;
	border: 1px solid black;
	padding:4px 0px;
	margin:0px 5px;
}

.add-to-cart{
	text-align: left;
}

#product-options-wrapper dl dt, #product-options-wrapper dl dd{
	display: inline-block;
	margin-right:20px;
}

#product-options-wrapper dl dd select{
	font-size: 1em;
}

#product-options-wrapper dl div{
	margin:5px 0px;
	padding:0px 0px 0px 10px;
}

.border-container-black{
	border:1px solid black;
}

.main-text{
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 0px;
	font-size: 0.5em;
}

.sub-text{
	text-transform: none;
	font-size: 0.5em;
	margin-top:0px;
}

.product-details-container, .product-image-container{
vertical-align: top;
}

.product-details-container{
	text-align: left;
}

.product-essential .product-name2 h1{
	font-weight: 300;
	text-align: left;
	font-size: 1.75em;
	margin-left:5%;
}

.box-additional{
	margin-top: 30px;
}

.box-collateral h2{
	font-size:1.25em;
}

.box-collateral .std{
	text-transform: none;
}

#product-attribute-specs-table{
	font-size: 1em;
	text-transform: none;
}

.product-collateral{
	margin-left:5%;
}

.product-image-container img{
	margin:0px auto;
}

.block-related{
	margin:40px auto;
}

.block-related .block-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: 300;

}

.block-related .block-content ol{
	list-style: none;
	text-align: center;
}

.block-related .block-content ol li{
	display: inline-block;
	position:relative;
	margin:0px 1%;
	width:20%;
	vertical-align: top;
}

.block-related .block-content .product-image, .block-related .block-content .product-details{
	display: block;
}

.block-related .block-content .product-image{
	text-align: center;
	margin:0px auto;
	width:100%;
	height:auto;
}

.block-related .block-content .product-details{
	width:100%;
text-align: center;
font-size: 0.9em;
margin:0px auto;
}

#product-attribute-specs-table th{
	padding-right:8px;
	padding-bottom:5px;
	font-weight: normal;
}

#product-attribute-specs-table th:after{
	content:":";
}

/* PRODUCT PAGE END */

/* MY CART PAGE */

.sidebar .block-account, div.block:nth-child(2), .sidebar .block-reorder, div.block:nth-child(2){
	border:1px solid #B4B4B4;
	margin:20px 20px 10px 0px;
}

.block-account .block-title, .block-reorder .block-title{
	text-transform: uppercase;
	color:white;
	background-color: black;
	text-align: center;
	padding:5px 0px;
}

.block-account .block-content ul, .block-reorder .block-content ol{
	list-style: none;
	padding:0px 0px 0px 10px;
	margin:10px 0px;
}

.block-account .block-content ul li, .block-reorder .block-content ol li
{
		padding:5px 0px;
}

.block-account .block-content ul li a, .block-reorder .block-content ol li a{
	text-decoration: none;
	color:black;
}

.block-reorder .block-content ol li a{
	font-size:0.8em;
}

.block-reorder .block-content .block-subtitle{
	padding:0px 20px;
	margin:5px 0px;
	font-weight: bold;
}

.block-reorder .block-content #cart-sidebar-reorder li{
	padding:0px;
	margin:0px;
}

.my-account .box-recent .view-all-link, .block-reorder .view-all-link{
	display: block;
}

.my-account .box-head h2{
	margin:0px;
	padding:0px;
}

.my-account .box-head a, .block-reorder .view-all-link a{
	text-decoration: none;
	display: block;
	background-color:#474444;
	color:white;
	text-align: center;
	padding:3px 0px;
	text-transform: uppercase;
	border-top:2px solid white;
	width:100%;
	font-size: 0.75em;
	font-weight: bold;
}

div.box-account:nth-child(3) > div:nth-child(1) > div:nth-child(2) a{
	float: right;
	width:15%;
	padding:2px 10px;
}

.block-reorder .actions .btn-cart {
	background-color:#ad0202;
	border:0;
	width:100%;
	padding:3px 0px;
	font-size: 0.75em;
}

.block-reorder .actions .btn-cart:hover {
	cursor: pointer;
	background-color: #790000;
}

.block-reorder .actions .btn-cart span span {
	color:white;
	text-transform: uppercase;
	padding:3px 5px;
}

.my-account .box-head .view-all-link a:hover, .block-reorder .view-all-link a:hover{
	background-color: black;
	cursor: pointer;
}

.block-reorder .block-content #cart-sidebar-reorder p{
	display: inline-block;
	padding:0px;
	margin:0px;
	font-size:0.75em;
}

.my-account{
	margin-top:15px;
	margin-bottom:20px;
}

.my-account .box-recent{
	padding-left:30px;
	padding-top:20px;
	padding-bottom:20px;
}

.my-account #my-orders-table{
	width:100%;
	text-align: center;
}

.my-account #my-orders-table thead tr{
	border-bottom:1px solid black;
}

.my-account #my-orders-table thead tr th{
	width:15%;
}

.my-account #my-orders-table thead tr th:last-child{
	width:20%;
}

.my-account #my-orders-table tbody tr td{
	padding:10px 0px;
}

.my-account #my-orders-table tbody tr td a{
	color:black;
	text-transform: uppercase;
	font-size: 0.75em;
}

.dashboard .welcome-msg, .dashboard .box-info{
padding-left:30px;
}

	.my-account .buttons-wrapper a{
		color:black;
	}


.box-info .col2-set .col-1, .box-info .col2-set .col-2{
	padding:0px 5px 0px 10px;
	width:45%;
	margin:5px;
	display: inline-block;
	vertical-align: top;
	border-left:2px solid #B4B4B4;
}

.box-info a{
	text-decoration: none;
	text-transform: uppercase;
	color:white;
	background-color: gray;
	padding:5px;
	margin:5px 0px;
	width:200px;
	display: block;
	text-align: center;
	font-size: 0.75em;
}

.box-title h3{
	display: inline-block;
	margin-right:3px;
	margin-bottom:0px;
}
.box-title a{
	display: inline-block;
	text-decoration: underline;
	background-color:white;
	padding:5px 0px;
	color:black;
	font-size: 1em;
	text-transform: none;
	width:50px;
}

.box-title a:hover{
	font-weight: bold;
}

.box .box-content .col-1, .box .box-content .col-2 {
	padding-left:10px;
}

.box-info .box-head h2{

	margin:5px 0px;
}

.box-head h2{
	text-transform: uppercase;
	font-weight: 300;

}

/* MY CART PAGE END */



/* MY ORDERS PAGE */
.my-account .pager .amount, .my-account .pager .limiter{
	display: inline-block;
	width:49%;
	text-align: left;
}

	.my-account .buttons-wrapper{
		text-align: center;
	}

.my-account .pager .limiter{
	text-align: right;
}


/* MY ORDERS PAGE END */

/* SEARCH RESULTS PAGE */
 .catalogsearch-result-index .col-right-sidebar{
 	float:left;
 	display: inline-block;
 	width:25%;
 }

 .catalogsearch-results-index .col-wrapper{
 	float:right;
 	display: inline-block;
 	width:70%;
 }



/* ACCOUNT INFORMATION */
.my-account-edit{
	width:90%;
	margin:0px auto;
}

li.control input{
	display: inline-block;
	width:20px;
}

li.control label{
	display: inline-block;
}

.no-display{
	display: none;
}

.my-account-edit .customer-name .field, #checkoutSteps .customer-name .field,  #checkoutSteps .fields .field{
	width:40%;
	display: inline-block;
}

.my-account-edit .customer-name .field div{
	display: inline-block;
}


/* ACCOUNT INFORMATION END */

/* ADDRESSES */
.my-account .addresses-primary ol, .my-account .addresses-additional ol{
	list-style: none;
	margin:0px;
	padding:0px;
}

.my-account .addresses-primary ol li, .my-account .addresses-additional ol li{
	display: inline-block;
	width: 45%;
	border-left:2px solid #B4B4B4;
	vertical-align: top;
	padding-left:10px;
}
.my-account .addresses-additional ol .empty{
	width:100%;
	display: block;
}

.my-account .addresses-primary ol li a, .my-account .addresses-additional ol li a{
	text-decoration: none;
	color:white;
	background-color: gray;
	padding:5px 10px;
}

.my-account .addresses-primary ol li a:hover, .my-account .addresses-additional ol li a:hover{
	background-color: black;
	cursor: pointer;
}

/* ADDRESSES END */


/* EDIT CART */

.cart-view-size-label{
	padding:5px 7px;
	border:1px solid black;
	color:black;
	background-color: white;
}

#shopping-cart-table{
	width:100%;
	border:0;
}

#shopping-cart-table .product-image{
	width:100%;
	height:auto;
}

.itemAttribute-wrapper{
	width:70px;
	height:70px;
	display:inline-block;
	margin:0px 10px;
	text-align: center;
}

.itemAttribute-wrapper div{
	margin:7px;
}

.cart-fieldset{
	border:0;
}

.cart-fieldset .btn-remove{
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  background-color: #474444;
  color: white;
  padding: 6% 15%;
  border-radius: 70%;
}

#shopping-cart-table thead .first th{
	width:25%;
	text-align: center;
	font-weight: 300;
}

#shopping-cart-table > thead:nth-child(2) > tr:nth-child(1) > th:nth-child(3){
	width:15%;
}

#shopping-cart-table > thead:nth-child(2) > tr:nth-child(1){
	background-color: black;
	color:white;
	text-transform: uppercase;
	padding:5px;
	font-weight: 300;
}

#shopping-cart-table > thead:nth-child(2) > tr:nth-child(1) > th:nth-child(1){
	width:15%;
	vertical-align: center;
}

#shopping-cart-table th.a-center:nth-child(5){
	width:10%;
}

#shopping-cart-table th.a-center:nth-child(4){
	width:20%;
}

#shopping-cart-table > thead:nth-child(2) > tr:nth-child(1) > th:nth-child(2){
	width:35%;
	vertical-align: top;
}

 #shopping-cart-table > thead:nth-child(2) > tr:nth-child(1) span{
 	color:white;
 	font-weight: 300;
 }

 #shopping-cart-table tr{
 	text-align: center;
 }

 #shopping-cart-table tbody tr td{
   padding: 10px 0px;
   border-bottom:1px solid #b0b0b0;
 }

.cart-edit-item{
	padding:5px 10px;
	background-color: #474444;
	color:white;
	text-transform: uppercase;
	font-size: 0.75em;
	text-decoration: none;
	font-weight: 400;
}

.cart-edit-item:hover{
	background-color: black;
}

#shopping-cart-table .qty{
	text-align: center;
	font-size: 1em;
	width:2em;
	border:1px solid #b5b5b5;
	padding:5px 2px;
}

.cart .page-title  {
text-align: left;
}

.cart .page-title h1{
	margin:30px 0px 0px 0px;
	padding:0px;
	text-align: center;
}

#shopping-cart-table .product-name{
	font-size: 1.25em;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom:15px;
}

#shopping-cart-table .product-name:hover{
font-weight: 400;
}
 
#shopping-cart-table > tfoot:nth-child(3) > tr:nth-child(1){
	text-align: right;
}

.cart .cart-collaterals .input-box{
	display:block;
	width:100%;
}

 .cart .shipping-form select{
 	width:75%;
 	font-size: 1.5em;
 }

.shipping-form .form-list li{
	padding:5px 0px;
}

.shipping-form .form-list input{
	font-size: 1.5em;
}

.cart-totals-wrapper{
	text-align: center;
	margin:10px auto;
}

.cart .totals, .cart .cart-collaterals, .cart .shipping{
	text-transform: none;
	font-size: 0.75em;
	vertical-align: top;
	text-align: left;
	border:1px solid #B4B4B4;
	width:30%;
	display: inline-block;
	margin:10px 10px;
}

.cart-totals-wrapper .discount-form, .cart-totals-wrapper .shipping-form, .cart-totals-wrapper .totals>div{
	padding:10px;
}

.cart .page-title button{
	margin-left:15px;
}
.cart .totals{
	text-align: right;
}

.cart .totals table{
	float:right;
}

.cart .totals button, .cart .discount-form .buttons-set button{
	margin:5px 15px 5px 0px;
}

.cart .discount h2, .cart .shipping h2, .cart .totals h2{
	margin:0px;
	padding:3px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.25em;
	color:white;
	background-color: black;
}

.cart #shopping-cart-totals-table tr td{
	padding:5px 20px 5px 0px;
	font-size:1.25em;
}

.cart .totals .btn-checkout{
	font-size: 1em;
}

.cart .cart-total-wrapper{
	margin:0px auto;
	text-align: center;
}

.cart #coupon_code{
	font-size: 1em;
	padding:2px;
}

.cart #advice-required-entry-coupon_code{
	font-size:1.3em;
}

.cart .sp-methods dt{
font-weight: bold;
padding-right:10px;
margin-top:5px;
}

.cart .sp-methods dd{
	padding-right: 10px;
	margin:0px;
}



/* EDIT CART END */

/* EDIT ADDRESS */

.my-account #form-validate{
	padding:0px 30px;
}

.my-account #form-validate .customer-name > div, .my-account ul.form-list:nth-child(5) > li:nth-child(3) > div, 
.my-account ul.form-list:nth-child(2) > li:nth-child(3) > div, ul.form-list:nth-child(3) > li:nth-child(3) > div:nth-child(1), 
ul.form-list:nth-child(3) > li:nth-child(3) > div:nth-child(2), li.fields:nth-child(4) > div:nth-child(1), li.fields:nth-child(4) > div:nth-child(2){
	width:48%;
	display: inline-block;
	font-size: 1em;
	margin:10px auto;
	color:black;
	text-transform: none;
}

.my-account #form-validate .customer-name > div input, ul.form-list:nth-child(5) > li:nth-child(3) > div input, 
ul.form-list:nth-child(2) > li:nth-child(3) > div input, ul.form-list:nth-child(3) > li:nth-child(3) > div:nth-child(1) input, 
ul.form-list:nth-child(3) > li:nth-child(3) > div:nth-child(2) input{
	width:82%;
}

.my-account #form-validate .customer-name div:first{
	margin-right:30px;
}

.my-account #form-validate input{
	font-size: 1.25em;
}

.my-account .input-box > div{
	font-size:1.75em !important;
}

.my-account .company label{
	color:black;
	text-transform: none;
}

.wide-divider{
	 	border-top: 1px solid #e5e5e5;
	 	margin:0px;
	 	width:90%;
}

.my-account .fieldset h2{
	margin:5px 0px;
}

/* ADD ADDRESS END */


/* FORGOT PASSWORD */
.forgot-pass-wrapper .buttons-set p, .forgot-pass-wrapper .buttons-set button{
	/*display: inline-block;
	width:45%;
	text-align: center;
	vertical-align: top;
	margin:0px;*/
}

/* FORGOT PASSWORD END */

/* CHECKOUT */

#checkoutSteps{
	border:1px solid #b4b4b4;
	width:75%;
	margin:10px auto;
}

	#billing\:country_id{
		display: block;
		width: 100%;
	}

#checkoutSteps fieldset{
	border: 0;
	padding:0px 20px;
}

#checkoutSteps fieldset fieldset, #checkoutSteps #co-shipping-form{
	width:95%;
	margin: 20px auto;
}
#checkoutSteps .step-title h2{
background-color: black;
color:white;
text-transform: uppercase;
font-size: 1em;
padding:5px 20px;
margin:0px;
font-weight: 300;
}

#checkoutSteps li:not(:last-child) .step-title h2{
border-bottom:1px solid white;
}

#checkoutSteps li #billing-buttons-container{
	/*
	width:20%;
	margin:0px 10px;
	text-align: center;
	display: inline-block;*/
}

.checkout-wrapper .please-wait{
	display: none;
}

#checkoutSteps .form-list li{
	padding:3px 0px;
}

#checkoutSteps fieldset .input-box div{
	font-size: 1.25em;
}

#checkoutSteps #billing-address-select, #checkoutSteps #shipping-address-select{
	width:80%;
}

.red-continue-button{
	margin:0px auto;
	border:0;
	background-color:#ad0202;
	text-align: center;
}
.red-continue-button span span{
	color:white;
	text-align: center;
	text-decoration: none;
}

/* CHECKOUT END */

/* VIEW ORDER */

.my-account .order-info-box, .my-account .order-info, .my-account .order-date{
	width:46%;
	display: inline-block;
	margin-left:10px;
}

.my-account .order-details #my-orders-table h3{
	font-size: 1em;
	font-weight: 300;
}

.my-account .order-details #my-orders-table .item-options dt, .my-account .order-details #my-orders-table .item-options dd{
	display: block;
	float:left;
	margin-left:15px;
}

.my-account .order-details #my-orders-table tfoot{
	border-top:1px solid black;
	text-align: right;
}

.my-account .order-details #my-orders-table .item-options dt{
	font-weight: bold;
	clear:both;
}

.my-account .order-details #my-orders-table .item-options dd{
	margin-left:5px;
	margin-right:auto;
}

/* VIEW ORDER END */


/* REGISTRATION INPUT VALIDATION FAILED */
#advice-required-entry-firstname, #advice-required-entry-lastname, #advice-required-entry-city,
#advice-required-entry-email_address, #advice-required-entry-password, 
#advice-required-entry-confirmation, #advice-validate-password-password,
#advice-validate-cpassword-confirmation, #advice-validate-email-email_address,
#advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-current_password, 
.my-account .input-box #advice-required-entry-email, #advice-required-entry-street_1, #advice-required-entry-zip,
#advice-required-entry-telephone{
	width:6%;
	margin:0px;
	display:inline-block;
	padding-left:3px;
	height:20px;
	font-size:3em;
	color:#a51313;
	font-weight:600;
}

#advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-coupon_code, #advice-required-entry-postcode, 
#advice-validate-select-country, #advice-required-entry-billing\:telephone, #advice-required-entry-billing\:firstname, 
#advice-required-entry-billing\:lastname, #advice-required-entry-billing\:street1, #advice-required-entry-billing\:city, 
#advice-required-entry-billing\:postcode, #advice-validate-select-billing\:country_id, 
#advice-required-entry-shipping\:telephone, #advice-required-entry-shipping\:firstname, 
#advice-required-entry-shipping\:lastname, #advice-required-entry-shipping\:street1, #advice-required-entry-shipping\:city, 
#advice-required-entry-shipping\:postcode, #advice-validate-select-shipping\:country_id{
	width:4%;
	margin:0px;
	display:inline-block;
	padding-left:3px;
	font-size:2em;
	color:#a51313;
	font-weight:600;
}

input.validation-failed select.validation-failed, .validation-failed{
	border:2px solid #a51313 !important;
}
/* VALIDATION FAILED END */


/* RESPONSIVE DESIGN - GENERAL */

img{
    max-width:100% !important;
    height:auto;
    display:block;
}

/* RESPONSIVE DESIGN END */

/* RESPONSIVE DESIGN IPAD */

@include breakpoint($tablet-breakpoint){

	li.level0 a:hover{
		cursor:pointer;
	}

	.mobileOnly{
		display: block;
	}
	
	.main-container{
		margin:0px 1%;
	}

	.col2-left-layout {
		margin:0px 1%;
	}
	
	.main-container{
		margin-top:20px;
	}

	/* CATEGORIES PAGE*/

	.products-grid{
		display: inline;
	}

	.col2-left-layout .col-left{
		padding-top:10px;
	}

	dd#apparel_type ol li, dd#price ol li, dd#color ol li, dd#bed_bath_type ol li, dd#decor_type ol li, dd#home_decor_type ol li, dd#material ol li{
		padding:10px 0px;
	}

	dd#apparel_type ol, dd#price ol, dd#color ol, dd#bed_bath_type ol, dd#decor_type ol, dd#home_decor_type ol, dd#material ol{
		padding:5px 0px 5px 5px;
	}

	.products-grid li.item{
		width:45%;
		margin:10px 1.5%;
	}

	.breadcrumbs{
		margin:40px 0px 10px 0px;
	}

	#size ol li{
		margin:10px 4%;
	}

	.toolbar-bottom .link-return-to-top{
		display: block;
		width:100%;
		text-align: center;
		margin:0px 0px 25px 0px;
	}

	.toolbar-bottom .link-return-to-top a {
		text-decoration: none;
		color:black;
		padding:5px 20px;
		border:1px solid black;
		text-transform: uppercase;
		font-weight: 300;
	}

	/* PRODUCT PAGE */

	.more-views ul li{
		margin:0px 1%;
	} 

	.price-qty-wrapper .price-box, .price-qty-wrapper .qty-control-wrapper{
		display: block;
		width:100%;
		padding:10px 0px;
	}

	.border-container{
		width:95%;
	}

	/* EDIT CART */

	.cart .totals, .cart .cart-collaterals, .cart .shipping{
		display: block;
		width:80%;
		margin:10px auto;
	}

	.cart .totals table{
		width:100%;
	}

	.cart-fieldset .btn-remove{
		padding:6% 20%;
	}

	/* MY ACCOUNT */

	.my-account .addresses-primary ol li, .my-account .addresses-additional ol li{
		display: block;
		width:100%;
	}

	.my-account .order-info-box, .my-account .order-info, .my-account .order-date{
		width:45%;
	}

	.my-account{
		margin-left:2%;
	}

	.customer-account-index .col2-left-layout{
		margin:0px 4%;
	}

	.col2-left-layout .col-left{
		width:28%;
	}

	.col2-left-layout .col-main{
		width:72%;
	}

	.dashboard .welcome-msg, .dashboard .box-info, .my-account .box-recent{
		padding-left:10px;
	}

	.my-account #my-orders-table{
		font-size: 0.8em;
	}
	.my-account #form-validate{
		padding:0px 10px;
	}

	.box-info a{
		min-width:80px;
		width:auto;
	}

	.sidebar .block-account, div.block:nth-child(2), .sidebar .block-reorder, div.block:nth-child(2){
		margin:10px 0px 10px 0px;
	}

	.block-reorder .block-content ol{
		margin:0px;
		padding:0px;
	}

	.block-reorder .block-content #cart-sidebar-reorder li{
		padding:5px 0px;
	}

	.block-reorder .block-content .block-subtitle{
		font-size: 1em;
		padding:0px 0px 0px 10px;
	}

	.box-info .col2-set .col-1, .box-info .col2-set .col-2{
		display: inline-block;
		width:45%;
		margin:5px 0px;
	}

	/* FORGOT PASSWORD */
.account-create, .account-login-page, .forgot-pass-wrapper
	{
		width:70%;
		padding:25px 50px;
	}

	.account-login-page{
		width:80%;
		padding:25px;
	}

	.account-login-page .gray-button, .account-login-page .red-button{
		width:100%;
		margin:0px;
	}
	.account-login-page .content, .forgot-pass-wrapper .fieldset, #form-validate .fieldset, #mini-menu-account{
		font-size: 0.8em;
	}

	#mini-menu-account .content-account{
		padding:10px 20px;

	}


	/* PAGE NOT FOUND */

	.page-not-found-wrapper .products-grid .item{
	width:100%;
	display: block;
	margin:30px 0px;
	}

	/* PRODUCT PAGE */

	.old-price{
	font-size: 0.75em;
	margin:0px 5px 0px 0px;
}

.desktopTabletOnly{
	display: block;
}

/* RESPONSIVE MYPAGE TABLE */
	table#my-orders-table colgroup col:not(:first-child){
	display: none;
	}

  table#my-orders-table thead { 
  	display: none; 
  }
  table#my-orders-table tbody td { 
    display: block; 
    padding-top:10px; 
  }
  table#my-orders-table tbody tr td:first-child { 
    background-color: black; 
    color: white; 
    padding:10px 0px;
  }

      table#my-orders-table tbody tr{
      	border:1px solid #b4b4b4;
      	margin-top:10px;
      	display: block;
      	width:100%;
      }

    table#my-orders-table tbody tr td:last-child{
    	text-align: center;
    }
	table#my-orders-table tbody td:not(:last-child):before { 
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    width: 45%;
    float:left;
    text-align: right;  
  }

.product-name a{
	font-size: 0.8em;
}
.my-account #my-orders-table{
	text-align: center;
	font-size: 1em;
}

.cart-fieldset .btn-remove {
    padding: 2px 6px;
}

#shopping-cart-table > tfoot:nth-child(3) > tr:nth-child(1){
	text-align: center;
	padding:0px;
}

#shopping-cart-table colgroup col:not(:first-child){
	display: none;
}

.cart-fieldset{
	margin:0px;
	padding:0px;
}
.cart .page-title{
	text-align: center;
}

#shopping-cart-table .btn-continue, #shopping-cart-table .btn-update, #shopping-cart-table #empty_cart_button{
	width:30%;
}

	/* VIEW ORDER */
	.sales-order-view #my-orders-table colgroup col:not(:first-child){
		display: none;

	}
		.sales-order-view #my-orders-table colgroup {
			width:100%;
		}

	.sales-order-view table#my-orders-table tbody tr td{
		width:100%;
	}



		.sales-order-view table#my-orders-table thead { 
	  	display: none; 
	  }
	  .sales-order-view table#my-orders-table tbody td { 
	    display: block; 
	    padding-top:10px; 
	  }
	  .sales-order-view table#my-orders-table tbody tr td:first-child { 
	    background-color: black; 
	    color: white; 
	    padding:10px 0px;
	    margin:0px;
	  }

	      .sales-order-view table#my-orders-table tbody tr{
	      	border:1px solid #b4b4b4;
	      	margin-top:10px;
	      	display: block;
	      	width:100%;
	      }

	    .sales-order-view table#my-orders-table .item-options {
	    	margin:0px;
	    	padding:0px;
	    	width:100%;
	    	background-color: black;
	    	color:white;
	    	margin:0px 0px 70px 0px;
	    }

	    table#my-orders-table tbody td:not(:last-child):before{
	    	width:30%;
	    }

	    .sales-order-view table#my-orders-table .item-options dt, .sales-order-view table#my-orders-table .item-options dd{
	    	width:45%;
	    	margin:0px;
	    	padding:0px;
	    	display: inline-block;
	    	color:black;
	    }

	.sales-order-view table#my-orders-table tbody tr td:last-child{
	    	text-align: center;
	    	background-color: #b4b4b4;
	    }
	.sales-order-view table#my-orders-table tbody tr td:first-child{
		background-color: black;
		color:white;
		margin:0px;
		padding:0px;
			}
	.sales-order-view table#my-orders-table .product-name{
		margin:0;
		padding:0;
	}

	table#shopping-cart-table tbody td:nth-child(2):before{
		display: block;
		width:100%;
		text-align: center;
	}
	#shopping-cart-table tbody tr td{
		border:0;
	}

}

/* RESPONSIVE DESIGN IPAD END */


/* RESPONSIVE DESIGN MOBILE */

@include breakpoint($smartphone-breakpoint){
		.main-container{
		margin:0px 2%;
	}

	.block-subscribe{
		padding:10px 0px;
	}

	#newsletter-validate-detail .block-content #newsletter{
		padding:5px;
	}

	.subscribe-button{
		
		border:1px solid black;
		margin:0px;
		background-color: black;
		padding:3px;
		min-width:100px;
		height:30px;
	}

	#newsletter_banner{
		padding:8px 0px;
		font-size:0.75em;
	}

	.back-link-button a{
		font-size: 1em;
		margin: 0px;
		padding: 5px 0px;
		width:100%;
	}

	.red-button{
		width:100%;
	}

	.smartphoneOnly{
		display: block;
	}

	.inlineSmartphoneOnly{
		display: inline-block;
	}

	.desktopOnly{
		display: none;
	}

	.desktopTabletOnly{
		display: none;
	}

	button{
	min-width: 200px;
	}

	.grid3{
		width:100%;
		display: block;
		text-align: center;
	}

	.grid3 h2{
		padding:0px;
	}

	.grid3 img{
		text-align: center;
		margin:0px auto;
	}

		.forgot-pass-wrapper .page-title h1{
			text-align: center;
		}

		.forgot-pass-wrapper{
			width:90%;
			padding:20px;
		}

	.gray-button, .red-button, #mini_cart_edit, #mini_cart_checkout{
		font-size: 1em;
		margin:2px;
		padding:5px 0px;
	}

	/* CATEGORY VIEW */

	.col2-left-layout .col-left, .col2-left-layout .col-main{
		width:100%;
		display: block;
	}

	.category-divider, .my-account-divider{
		margin:2px;
	}

	#showFilters{
		margin:10px 2px 10px 20px;
		font-size: 1.2em;
		text-transform: uppercase;
		display: inline-block;
	}

	#showFilters:hover{
		cursor: pointer;
	}

	#narrow-by-list{
		margin:0px;
	}

	#narrow-by-list dd{
		margin-left:70px;
		border:0px;
	}

	#size ol{
		text-align: left;
	}

	#narrow-by-list dd{
		display: none;
	}

	dd#apparel_type ol li, dd#price ol li, dd#color ol li, dd#bed_bath_type ol li, dd#decor_type ol li, dd#home_decor_type ol li, dd#material ol li{
		margin:0px;
		padding:5px 0px;
	}

	dd#apparel_type li a, dd#price li a, dd#color li a, dd#bed_bath_type ol li a, dd#decor_type ol li a, dd#home_decor_type ol li a, dd#material ol li a{
		margin:0px;
		padding:0px;
		font-size: 1.2em;
		text-transform: none;
	}

	#size ol li a {
		font-size: 1.2em;
		padding:5px;
	}

	#showFilters span, .filterList #narrow-by-list dt span{
	font-family: mango-font-icons;
	}

	#narrow-by-list dt{
		background-color: white;
		font-weight: normal;
		font-size: 1.2em;
		color:black;
		padding:0px;
		margin:0px 0px 5px 40px;
	}

	#narrow-by-list dt:hover{
		cursor: pointer;
	}

	/* PRODUCT PAGE */

	.product-image{
		width:80%;
	}
	.price-qty-wrapper .price-box, .price-qty-wrapper .qty-control-wrapper{
		display: inline-block;
		width:45%;
	}
	.price-qty-wrapper .price-box{
		text-align: center;
	}

	.price-qty-wrapper .qty-control-wrapper{
		text-align: right;
	}

	.block-related .block-content ol li{
		width:45%;
		margin-bottom:20px;
	}

	.block-related{
		margin:10px auto;
	}

	#product-addtocart-button{
		width:100%;
		padding:10px 0px;
	}

	.old-price{
		font-size: 0.75em;
		margin:0px 5px 0px 0px;
	}
	.product-name h1{
	margin: 10px 0px 5px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.25em;
	}

	.price-qty-wrapper .price-box p{
		padding:0;
	}

	#product-info-wrapper p{
		margin:2px 0px;
	}

	.price-qty-wrapper .price-box .special-price, .price{
		padding-right:10px;
	}

	/* PRODUCT PAGE END */


	/* MY ACCOUNT */

	.dashboard .welcome-msg, .dashboard .box-info, .my-account .box-recent{
		padding:0px;
	}

	.box-info .col2-set .col-1, .box-info .col2-set .col-2{
		display: block;
		width:95%;
	}

	.block-reorder .actions .btn-cart{
		padding:5px 0px;
		font-size: 1em;
	}

	.my-account .box-head a, .block-reorder .view-all-link a{
		padding:5px 0px;
		font-size: 1em;
	}

	.block-reorder .block-content ol li a{
		font-size:1em;
	}

	div.box-account:nth-child(3) > div:nth-child(1) > div:nth-child(2) a{
		width:100%;
		padding:5px 0px;
		float:none;
		text-align: center;
	}

	.my-account .pager .amount{
	  	width:25%;
	  	display: inline-block;
	  }

	  .my-account .pager .limiter{
	  	width:70%;
	  }

	  .box-info a{
	  	padding:5px 0px;
	  	font-size:1em;
	  }

	  .my-account-edit{
	  	width:100%;
	  }

	  .cart .page-title button{
		margin:10px 0px;
		width:100%;
		font-size: 0.75em;
	}

	#shopping-cart-table .btn-continue, #shopping-cart-table .btn-update, #shopping-cart-table #empty_cart_button{
		width:100%;
		font-size: 0.75em;
		margin:5px 0px;
	}

		table#shopping-cart-table tbody td:not(:last-child):before { 
	    content: attr(data-th); 
	    font-weight: bold;
	    display: inline-block;
	    width: 45%;
	    float:left;
	    text-align: right;  
	}

	table#shopping-cart-table thead { 
	  	display: none; 
	  }
	  table#shopping-cart-table tbody td { 
	    display: block; 
	    padding-top:10px; 
	  }
	  table#shopping-cart-table tbody tr td:first-child { 
	    background-color: black; 
	    color: white; 
	    padding:10px 0px;
	    margin:0px;
	  }

	      table#shopping-cart-table tbody tr{
	      	border:1px solid #b4b4b4;
	      	margin-top:10px;
	      	display: block;
	      	width:100%;
	      }

	table#shopping-cart-table tbody tr td:last-child{
	    	text-align: center;
	    	background-color: #b4b4b4;
	    }
	table#shopping-cart-table tbody tr td:first-child{
		display: none;
	}
	#shopping-cart-table .product-name{
		margin:0;
		padding:0;
	}

	table#shopping-cart-table tbody td:nth-child(2):before{
		display: block;
		width:100%;
		text-align: center;
	}
	#shopping-cart-table tbody tr td{
		border:0;
		padding:5px 0px;
	}

	#shopping-cart-table .qty{
	font-size: 0.8em;
	width: 1.5em;
	border: 1px solid #B5B5B5;
	padding: 2px;
	}

	.cart .totals, .cart .cart-collaterals, .cart .shipping{
		width:100%;
	}

	.cart .totals, .cart .cart-collaterals, .cart .shipping{
		font-size: 0.8em;
	}

	/* ADD NEW ADDRESS */
	li.fields:nth-child(4) > div:nth-child(2){
		width:100%;
		display:block;
	}

	.my-account #form-validate{
		padding:0px;
		margin:0px;
	}

	#advice-required-entry-firstname, #advice-required-entry-lastname, #advice-required-entry-city, 
	#advice-required-entry-email_address, #advice-required-entry-password, #advice-required-entry-confirmation, 
	#advice-validate-password-password, #advice-validate-cpassword-confirmation, #advice-validate-email-email_address, 
	#advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-current_password, 
	.my-account .input-box #advice-required-entry-email, #advice-required-entry-street_1, #advice-required-entry-zip, 
	#advice-required-entry-telephone, #advice-required-entry-coupon_code, #advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-coupon_code, #advice-required-entry-postcode, 
	#advice-validate-select-country, #advice-required-entry-billing\:telephone, #advice-required-entry-billing\:firstname, 
	#advice-required-entry-billing\:lastname, #advice-required-entry-billing\:street1, #advice-required-entry-billing\:city, 
	#advice-required-entry-billing\:postcode, #advice-validate-select-billing\:country_id, 
	#advice-required-entry-shipping\:telephone, #advice-required-entry-shipping\:firstname, 
	#advice-required-entry-shipping\:lastname, #advice-required-entry-shipping\:street1, #advice-required-entry-shipping\:city, 
	#advice-required-entry-shipping\:postcode, #advice-validate-select-shipping\:country_id{
		display: none;
	}	

	#newsletter-validate-detail .block-content .button {
		min-width:25%;
	}

	/* CHECKOUT */
	.red-continue-button{
	width: 100%;
	font-size: 1em;
	padding: 5px 0px;
	margin:5px 2px;
	}

	#checkoutSteps li #billing-buttons-container{
		margin:10px 0px;
	}

	#checkoutSteps{
		width:100%;
	}
	#billing\:country_id{
		display: block;
		width: 100%;
	}

	#checkoutSteps fieldset, #checkoutSteps fieldset fieldset{
		margin:0px;
		padding:10px;
	}


	.my-account-edit .customer-name .field, #checkoutSteps .customer-name .field, #checkoutSteps .fields .field{
		display: block;
		width:100%;
	}
}

/* RESPONSIVE DESIGN MOBILE END */