
/* CSS RESET FOR TABLE*/

.mobileOnly, .smartphoneOnly, .inlineSmartphoneOnly{
	display: none; 
}

.desktopOnly{
	display: block;
}

.desktopTabletOnly{
	display: block;
}


/* PAGE NOT FOUND */

.page-not-found-wrapper{
	border:1px solid #b4b4b4;
	width:80%;
	margin:10px auto;
}

.page-not-found-wrapper a{
	color:black;
}

.page-not-found-wrapper a:hover{
	font-weight: bold;
}

.page-not-found-header{
	background-color: black;
	color:white;
	text-align: center;
	padding:10px;
	margin:0;
	text-transform: uppercase;
}

.page-not-found-wrapper .products-grid .item{
	width:30%;
}

/* PAGE NOT FOUND END */
.messages{
position:fixed;
top:0px;
left:0px;
text-align: center;
margin: 0px auto;
width: 100%;
height:65px;
background-color: white;
list-style:none;
padding:20px 0px 0px 0px;
z-index:300;
}


body
{
	margin:0px;
	background-color: white;
	color:black;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* REGISTER PAGE AND LOGIN PAGE */

.account-create, .account-login-page, .forgot-pass-wrapper{
	width:40%;
	margin:20px auto;
	border:1px solid #b5b5b5;
	padding:25px 100px;
}

.account-login-page .content, .forgot-pass-wrapper .fieldset{
	font-size: 0.75em;
}

.forgot-pass-wrapper .buttons-set{
	text-align: center;
}

.account-create input:focus, .account-login-page input:focus, .forgot-pass-wrapper input:focus{
	border:2px solid #b5b5b5;
	padding:3px;
}

.account-create .page-title h1, .account-login-page .page-title h1, .cart .page-title h1, .forgot-pass-wrapper .page-title h1, .search-results .page-title h1{
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight:200;
}

.account-login-page input{
	font-size: 1.75em;
	border: 2px solid #B5B5B5;
	padding:4px;
}

.account-login-page input:focus{
    border: 2px solid #E9E8E8;
    padding:4px;
}

div.page-title:nth-child(3) > h1:nth-child(1), .account-login-page .form-list li{
	margin:25px 0px;
}

ul.form-list:nth-child(3) > li:nth-child(1){
	margin:0px;
	padding:0px;
}

.customer-name, div.fieldset:nth-child(2){
	text-transform: none;
}

.fieldset input{
	margin:3px 0px 10px 0px;
	width:88%;
}

#form-validate input{
	border:2px solid #b5b5b5;
	padding:5px;
}

.forgot-pass{
	text-align: center;
}

.account-login-page a.f-left{
	text-align: center;
}

.account-login-page a.f-left:hover{
	font-weight:bold;
}

#form-validate input:focus{
	border:2px solid #e9e8e8;
}


#email_address{
	margin:10px 0px 10px 0px;
}

ul.form-list:nth-child(3) > li:nth-child(2) > label:nth-child(1){
		text-transform: none;
}

.field .required{
	text-transform: none;
}

p .control{
	list-style: none;
}

input#is_subscribed{
	width:auto;
	dispay:inline-block;
}

div.input-box:nth-child(3){
	text-align: left;
	width:auto;
	display:inline-block;
}

.buttons-set button[title="Submit"]{
	background-color: #ad0202;
}

.buttons-set button[title="Submit"] span{
color:white;
text-transform: uppercase;
}

/* REGISTER PAGE END */




/* MY CART PAGE END */





/* SEARCH RESULTS PAGE */
 .catalogsearch-result-index .col-right-sidebar{
 	float:left;
 	display: inline-block;
 	width:25%;
 }

 .catalogsearch-results-index .col-wrapper{
 	float:right;
 	display: inline-block;
 	width:70%;
 }


/* CHECKOUT */

#checkoutSteps{
	border:1px solid #b4b4b4;
	width:75%;
	margin:10px auto;
}

	#billing\:country_id{
		display: block;
		width: 100%;
	}

#checkoutSteps fieldset{
	border: 0;
	padding:0px 20px;
}

#checkoutSteps fieldset fieldset, #checkoutSteps #co-shipping-form{
	width:95%;
	margin: 20px auto;
}
#checkoutSteps .step-title h2{
background-color: black;
color:white;
text-transform: uppercase;
font-size: 1em;
padding:5px 20px;
margin:0px;
font-weight: 300;
}

#checkoutSteps li:not(:last-child) .step-title h2{
border-bottom:1px solid white;
}

.checkout-wrapper .please-wait{
	display: none;
}

#checkoutSteps .form-list li{
	padding:3px 0px;
}

#checkoutSteps fieldset .input-box div{
	font-size: 1.25em;
}

#checkoutSteps #billing-address-select, #checkoutSteps #shipping-address-select{
	width:80%;
}

.red-continue-button{
	margin:0px auto;
	border:0;
	background-color:#ad0202;
	text-align: center;
}
.red-continue-button span span{
	color:white;
	text-align: center;
	text-decoration: none;
}

/* CHECKOUT END */




/* REGISTRATION INPUT VALIDATION FAILED */
#advice-required-entry-firstname, #advice-required-entry-lastname, #advice-required-entry-city,
#advice-required-entry-email_address, #advice-required-entry-password, 
#advice-required-entry-confirmation, #advice-validate-password-password,
#advice-validate-cpassword-confirmation, #advice-validate-email-email_address,
#advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-current_password, 
.my-account .input-box #advice-required-entry-email, #advice-required-entry-street_1, #advice-required-entry-zip,
#advice-required-entry-telephone{
	width:auto;
	margin:0px;
	display:inline-block;
	padding-left:1px;
	height:20px;
	font-size:3em;
	color:#a51313;
	font-weight:600;
}

#advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-coupon_code, #advice-required-entry-postcode, 
#advice-validate-select-country, #advice-required-entry-billing\:telephone, #advice-required-entry-billing\:firstname, 
#advice-required-entry-billing\:lastname, #advice-required-entry-billing\:street1, #advice-required-entry-billing\:city, 
#advice-required-entry-billing\:postcode, #advice-validate-select-billing\:country_id, 
#advice-required-entry-shipping\:telephone, #advice-required-entry-shipping\:firstname, 
#advice-required-entry-shipping\:lastname, #advice-required-entry-shipping\:street1, #advice-required-entry-shipping\:city, 
#advice-required-entry-shipping\:postcode, #advice-validate-select-shipping\:country_id{
	width:4%;
	margin:0px;
	display:inline-block;
	padding-left:3px;
	font-size:2em;
	color:#a51313;
	font-weight:600;
}

input.validation-failed select.validation-failed, .validation-failed{
	border:2px solid #a51313 !important;
}
/* VALIDATION FAILED END */


/* RESPONSIVE DESIGN IPAD */

@include breakpoint($tablet-breakpoint){

	li.level0 a:hover{
		cursor:pointer;
	}

	.mobileOnly{
		display: block;
	}
	
	.main-container{
		margin:0px 1%;
	}
	
	.main-container{
		margin-top:20px;
	}

	/* FORGOT PASSWORD */
.account-create, .account-login-page, .forgot-pass-wrapper
	{
		width:70%;
		padding:25px 50px;
	}

	.account-login-page{
		width:80%;
		padding:25px;
	}

	.account-login-page .gray-button, .account-login-page .red-button{
		width:100%;
		margin:0px;
	}

	/* PAGE NOT FOUND */

	.page-not-found-wrapper .products-grid .item{
	width:100%;
	display: block;
	margin:30px 0px;
	}
}

/* RESPONSIVE DESIGN IPAD END */


/* RESPONSIVE DESIGN MOBILE */

@include breakpoint($smartphone-breakpoint){
		.main-container{
		margin:0px 2%;
	}

	.block-subscribe{
		padding:10px 0px;
	}

	#newsletter-validate-detail .block-content #newsletter{
		padding:5px;
	}

	.subscribe-button{
		
		border:1px solid black;
		margin:0px;
		background-color: black;
		padding:3px;
		min-width:100px;
		height:30px;
	}

	#newsletter_banner{
		padding:8px 0px;
		font-size:0.75em;
	}

	.smartphoneOnly{
		display: block;
	}

	.inlineSmartphoneOnly{
		display: inline-block;
	}

	.desktopOnly{
		display: none;
	}

	.desktopTabletOnly{
		display: none;
	}

		.forgot-pass-wrapper .page-title h1{
			text-align: center;
		}

		.forgot-pass-wrapper{
			width:90%;
			padding:20px;
		}

	/* MY ACCOUNT */

	/* ADD NEW ADDRESS */

	#advice-required-entry-firstname, #advice-required-entry-lastname, #advice-required-entry-city, 
	#advice-required-entry-email_address, #advice-required-entry-password, #advice-required-entry-confirmation, 
	#advice-validate-password-password, #advice-validate-cpassword-confirmation, #advice-validate-email-email_address, 
	#advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-current_password, 
	.my-account .input-box #advice-required-entry-email, #advice-required-entry-street_1, #advice-required-entry-zip, 
	#advice-required-entry-telephone, #advice-required-entry-coupon_code, #advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-coupon_code, #advice-required-entry-postcode, 
	#advice-validate-select-country, #advice-required-entry-billing\:telephone, #advice-required-entry-billing\:firstname, 
	#advice-required-entry-billing\:lastname, #advice-required-entry-billing\:street1, #advice-required-entry-billing\:city, 
	#advice-required-entry-billing\:postcode, #advice-validate-select-billing\:country_id, 
	#advice-required-entry-shipping\:telephone, #advice-required-entry-shipping\:firstname, 
	#advice-required-entry-shipping\:lastname, #advice-required-entry-shipping\:street1, #advice-required-entry-shipping\:city, 
	#advice-required-entry-shipping\:postcode, #advice-validate-select-shipping\:country_id{
		display: none;
	}	

	/* CHECKOUT */
	.red-continue-button{
	width: 100%;
	font-size: 1em;
	padding: 5px 0px;
	margin:5px 2px;
	}

	#checkoutSteps li #billing-buttons-container{
		margin:10px 0px;
	}

	#checkoutSteps{
		width:100%;
	}
	#billing\:country_id{
		display: block;
		width: 100%;
	}

	#checkoutSteps fieldset, #checkoutSteps fieldset fieldset{
		margin:0px;
		padding:10px;
	}


	.my-account-edit .customer-name .field, #checkoutSteps .customer-name .field, #checkoutSteps .fields .field{
		display: block;
		width:100%;
	}
}

/* RESPONSIVE DESIGN MOBILE END */