// ----------- BUTTONS -----------

button{
	border: 0;
	padding:10px 10px;
	min-width:150px;
	font-size: 0.75em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.red-button, .btn-checkout, #button_register{
	margin:10px 0px;
	@include m-mango-buttons(#ad0202);
	
}

#shopping-cart-table .btn-continue, #shopping-cart-table .btn-update, #shopping-cart-table #empty_cart_button, .cart .cart-collaterals .buttons-set button, .gray-button, .checkout-wrapper .buttons-set button, #send2{
	margin:10px 0px;
	@include m-mango-buttons(#474444);
}

@include breakpoint($smartphone-breakpoint){
	.red-button, .btn-checkout, #button_register{
		width:100%;
		
	}

	#shopping-cart-table .btn-continue, #shopping-cart-table .btn-update, #shopping-cart-table #empty_cart_button, .cart .cart-collaterals .buttons-set button, .gray-button, .checkout-wrapper .buttons-set button, #send2{
		width:100%;
	}
}

// ----------- NEWSLETTER BANNER ---------

#newsletter_banner{
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin:0px;
	margin-bottom: 15px;
	padding:5px 10px;

	p{
		padding:2px 0px;
	}
}

// --------- PAGE TITLES ----------

.category-title h1, .dashboard-page-title h1, .my-account .page-title h1, .checkout-wrapper .page-title h1{
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	margin:0px;
	line-height: 1.5;
	font-size:2.5em;
}

// --------- DIVIDERS ----------
// ----- DESKTOP
.category-divider, .my-account-divider{
	margin:0px;
	padding:0px;
	height:1px;
	margin-left:35px;
 	border: 0; 
 	border-top: 1px solid #e5e5e5;
}

// ----- SMARTPHONES
@include breakpoint($smartphone-breakpoint){
	.category-divider, .my-account-divider{
		margin:2px;
	}
}

// ---------- BREADCRUMBS ---------

// ----- DESKTOP
.breadcrumbs ul{
	list-style: none;
	margin:0px 0px 0px 10px;
	font-size:0.8em;

	li {
	display: inline-block;

		a {
			text-decoration: none;
			color:black;
			font-weight: normal;
		}
	}
}

// ----- TABLET
@include breakpoint($tablet-breakpoint){
	.breadcrumbs{
		margin:20px 0px 20px 0px;
	}	
}


// --------- RESPONSIVE IMAGES -----------

img{
    max-width:100% !important;
    height:auto;
    display:block;
}