// ----------- BUTTONS -----------

button{
	border: 0;
	padding:10px 10px;
	min-width:150px;
	font-size: 0.75em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.red-button, .btn-checkout, #button_register{
	margin:10px 0px;
	@include m-mango-buttons(#ad0202);
	
}

#shopping-cart-table .btn-continue, #shopping-cart-table .btn-update, #shopping-cart-table #empty_cart_button, .cart .cart-collaterals .buttons-set button, .gray-button, .checkout-wrapper .buttons-set button, #send2{
	margin:10px 0px;
	@include m-mango-buttons(#474444);
}

@include breakpoint($smartphone-breakpoint){
	.red-button, .btn-checkout, #button_register{
		width:100%;
		
	}

	#shopping-cart-table .btn-continue, #shopping-cart-table .btn-update, #shopping-cart-table #empty_cart_button, .cart .cart-collaterals .buttons-set button, .gray-button, .checkout-wrapper .buttons-set button, #send2{
		width:100%;
	}
}

.back-link-button a{
	background-color: #474444;;
	color: white;
	font-weight: bold;
	font-size: 0.72em;
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
	min-width: 100px;
	text-transform: uppercase;
	text-align: center;
	margin:10px 0px;

	&:hover{
		background-color: black;
	}

	&:active{
		background-color: #9b9a9a;
	}
}

// ----------- NEWSLETTER BANNER ---------

#newsletter_banner{
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin:0px;
	margin-bottom: 15px;
	padding:5px 10px;

	p{
		padding:2px 0px;
	}
}

// --------- PAGE TITLES ----------

.category-title h1, .dashboard-page-title h1, .my-account .page-title h1, .checkout-wrapper .page-title h1{
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	margin:0px;
	line-height: 1.5;
	font-size:2.5em;
}

// --------- DIVIDERS ----------
// ----- DESKTOP
.category-divider, .my-account-divider{
	margin:0px;
	padding:0px;
	height:1px;
	margin-left:35px;
 	border: 0; 
 	border-top: 1px solid #e5e5e5;
}

// ----- SMARTPHONES
@include breakpoint($smartphone-breakpoint){
	.category-divider, .my-account-divider{
		margin:2px;
	}
}

// ---------- BREADCRUMBS ---------

// ----- DESKTOP
.breadcrumbs ul{
	list-style: none;
	margin:0px 0px 0px 10px;
	font-size:0.8em;

	li {
	display: inline-block;

		a {
			text-decoration: none;
			color:black;
			font-weight: normal;
		}
	}
}

// ----- TABLET
@include breakpoint($tablet-breakpoint){
	.breadcrumbs{
		margin:20px 0px 20px 0px;
	}	
}


// --------- RESPONSIVE IMAGES -----------

img{
    max-width:100% !important;
    height:auto;
    display:block;
}

// ---------- RESPONSIVE TABLE -----------

@include breakpoint($tablet-breakpoint){

	table#my-orders-table colgroup col:not(:first-child){
	display: none;
	}

	  table#my-orders-table thead { 
	  	display: none; 
	  }
	  table#my-orders-table tbody td { 
	    display: block; 
	    padding-top:10px; 

	    h3{
	    	padding:10px 0px;
	    }
	  }
	  table#my-orders-table tbody tr td:first-child { 
	    background-color: black; 
	    color: white; 
	    padding:10px 0px;
	  }

	      table#my-orders-table tbody tr{
	      	border:1px solid #b4b4b4;
	      	margin-top:10px;
	      	display: block;
	      	width:100%;
	      }

	    table#my-orders-table tbody tr td:last-child{
	    	text-align: center;
	    }
		table#my-orders-table tbody td:not(:last-child):before { 
	    content: attr(data-th); 
	    font-weight: bold;
	    display: inline-block;
	    text-align: right;  
	    margin-right:2em;
	  }

	.product-name a{
		font-size: 0.8em;
	}
	.my-account #my-orders-table{
		text-align: center;
		font-size: 1em;
	}

	.cart-fieldset .btn-remove {
	    padding: 2px 6px;
	}

	#shopping-cart-table > tfoot:nth-child(3) > tr:nth-child(1){
		text-align: center;
		padding:0px;
	}

	#shopping-cart-table colgroup col:not(:first-child){
		display: none;
	}

	.cart-fieldset{
		margin:0px;
		padding:0px;
	}
	.cart .page-title{
		text-align: center;
	}

	#shopping-cart-table .btn-continue, #shopping-cart-table .btn-update, #shopping-cart-table #empty_cart_button{
		width:30%;
	}
}


// --------- FORM VALIDATION FAILED ----------

// ----- DESKTOP
#advice-required-entry-firstname, #advice-required-entry-lastname, #advice-required-entry-city,
#advice-required-entry-email_address, #advice-required-entry-password, 
#advice-required-entry-confirmation, #advice-validate-password-password,
#advice-validate-cpassword-confirmation, #advice-validate-email-email_address,
#advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-current_password, 
.my-account .input-box #advice-required-entry-email, #advice-required-entry-street_1, #advice-required-entry-zip,
#advice-required-entry-telephone{
	width:auto;
	margin:0px;
	display:inline-block;
	padding-left:1px;
	height:20px;
	font-size:3em;
	color:#a51313;
	font-weight:600;
}

#advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-coupon_code, #advice-required-entry-postcode, 
#advice-validate-select-country, #advice-required-entry-billing\:telephone, #advice-required-entry-billing\:firstname, 
#advice-required-entry-billing\:lastname, #advice-required-entry-billing\:street1, #advice-required-entry-billing\:city, 
#advice-required-entry-billing\:postcode, #advice-validate-select-billing\:country_id, 
#advice-required-entry-shipping\:telephone, #advice-required-entry-shipping\:firstname, 
#advice-required-entry-shipping\:lastname, #advice-required-entry-shipping\:street1, #advice-required-entry-shipping\:city, 
#advice-required-entry-shipping\:postcode, #advice-validate-select-shipping\:country_id{
	width:4%;
	margin:0px;
	display:inline-block;
	padding-left:3px;
	font-size:2em;
	color:#a51313;
	font-weight:600;
}

input.validation-failed select.validation-failed, .validation-failed{
	border:2px solid #a51313 !important;
}

// ----- SMARTPHONE
@include breakpoint($smartphone-breakpoint){

#advice-required-entry-firstname, #advice-required-entry-lastname, #advice-required-entry-city, 
	#advice-required-entry-email_address, #advice-required-entry-password, #advice-required-entry-confirmation, 
	#advice-validate-password-password, #advice-validate-cpassword-confirmation, #advice-validate-email-email_address, 
	#advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-current_password, 
	.my-account .input-box #advice-required-entry-email, #advice-required-entry-street_1, #advice-required-entry-zip, 
	#advice-required-entry-telephone, #advice-required-entry-coupon_code, #advice-required-entry-email, #advice-required-entry-pass, #advice-required-entry-coupon_code, #advice-required-entry-postcode, 
	#advice-validate-select-country, #advice-required-entry-billing\:telephone, #advice-required-entry-billing\:firstname, 
	#advice-required-entry-billing\:lastname, #advice-required-entry-billing\:street1, #advice-required-entry-billing\:city, 
	#advice-required-entry-billing\:postcode, #advice-validate-select-billing\:country_id, 
	#advice-required-entry-shipping\:telephone, #advice-required-entry-shipping\:firstname, 
	#advice-required-entry-shipping\:lastname, #advice-required-entry-shipping\:street1, #advice-required-entry-shipping\:city, 
	#advice-required-entry-shipping\:postcode, #advice-validate-select-shipping\:country_id{
		display: none;
	}	
}